@page "/BLAZ-938329"
@* 1,Run the sample. 
2,Click the "UpdateRecord" button.
3,Observe that the milestone is not converted back to a taskbar.*@
@rendermode InteractiveServer
@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
<div>@message</div>
<SfButton @onclick="UpdateRecord">Update Record</SfButton>
<SfGantt DataSource="@EditingData" @ref="Gantt" Height="450px" Width="700px"
         ProjectStartDate="@ProjectStartDate" ProjectEndDate="@ProjectEndDate"
         AllowSelection="true" HighlightWeekends="true" GridLines="Syncfusion.Blazor.Gantt.GridLine.Both" AllowUnscheduledTasks="true" TreeColumnIndex="1" AllowReordering="true" DateFormat="MMM dd, y"
         Toolbar="@(new List<string>() { "Add", "Edit", "Update", "Delete", "Cancel", "ExpandAll", "CollapseAll", "Indent", "Outdent","ZoomToFit","ZoomIn" })" EnableContextMenu="true" AllowFiltering="true" AllowPdfExport AllowResizing="true">
    <GanttTaskFields Id="TaskID" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" Dependency="Predecessor" Child="Subtasks" Notes="Info" Milestone="IsMileStone">
    </GanttTaskFields>
    <GanttEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" AllowTaskbarEditing="true" ShowDeleteConfirmDialog="true" NewRowPosition="RowPosition.Bottom"></GanttEditSettings>
    <GanttColumns>
        <GanttColumn Field="TaskID" Width="80"></GanttColumn>
        <GanttColumn Field="TaskName" HeaderText="Job Name" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
        <GanttColumn Field="StartDate"></GanttColumn>
        <GanttColumn Field="EndDate"></GanttColumn>
        <GanttColumn Field="Duration"></GanttColumn>
        <GanttColumn Field="Progress"></GanttColumn>
        <GanttColumn Field="Predecessor"></GanttColumn>
    </GanttColumns>
    <GanttSelectionSettings Mode="Syncfusion.Blazor.Grids.SelectionMode.Row" Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GanttSelectionSettings>
    <GanttTimelineSettings>
        <GanttTopTierSettings Unit="TimelineViewMode.Month" Format="MMM dd, y"></GanttTopTierSettings>
        <GanttBottomTierSettings Unit="TimelineViewMode.Day"></GanttBottomTierSettings>
    </GanttTimelineSettings>
    <GanttResource DataSource="ResourceCollection" Id="Id" Name="Name" MaxUnits="MaxUnit" Group="Group" TValue="TaskData" TResources="ResourceInfoModel"></GanttResource>
    <GanttAssignmentFields DataSource="AssignmentCollection" PrimaryKey="Id" TaskID="TaskId" ResourceID="ResourceId" TValue="TaskData" TAssignment="AssignmentModel"></GanttAssignmentFields>
    <GanttEditDialogFields>
        <GanttEditDialogField Type="GanttDialogFieldType.General" HeaderText="General"></GanttEditDialogField>
        <GanttEditDialogField Type="GanttDialogFieldType.Dependency"></GanttEditDialogField>
        <GanttEditDialogField Type="GanttDialogFieldType.Resources"></GanttEditDialogField>
        <GanttEditDialogField Type="GanttDialogFieldType.Notes"></GanttEditDialogField>
    </GanttEditDialogFields>
    <GanttAddDialogFields>
        <GanttAddDialogField Type="GanttDialogFieldType.General" HeaderText="General"></GanttAddDialogField>
        <GanttAddDialogField Type="GanttDialogFieldType.Dependency"></GanttAddDialogField>
        <GanttAddDialogField Type="GanttDialogFieldType.Notes"></GanttAddDialogField>
    </GanttAddDialogFields>
    <GanttEvents TValue="TaskData" OnActionFailure="ActionFailureHandler"></GanttEvents>
</SfGantt>

@code {
    private List<TaskData> EditingData { get; set; }
    private DateTime ProjectStartDate { get; set; } = new DateTime(2019, 3, 25);
    private DateTime ProjectEndDate { get; set; } = new DateTime(2019, 7, 28);
    private List<ResourceInfoModel> ResourceCollection { get; set; }
    private static List<AssignmentModel> AssignmentCollection { get; set; }
    public SfGantt<TaskData> Gantt { get; set; }
    private string Format = "M/d/y";
    private object ValidationRules = new { Date = true };
    private bool visible = false;
    private DateEditCellParams NumericParams = new DateEditCellParams() { Params = new Syncfusion.Blazor.Calendars.DatePickerModel() { EnableRtl = true } };
   
    public string message{ get; set; } 
    public void ActionFailureHandler(Syncfusion.Blazor.Grids.FailureEventArgs args)
    {
       message += " OnAction failure Event triggered";
    }

    private async void UpdateRecord()
    {
        var temp1 = Gantt.GetTaskByID("4");
        temp1.IsMileStone = false;
        await Gantt.UpdateRecordByIDAsync(temp1);
    }
    protected override void OnInitialized()
    {
        EditingData = GetEditingData();
        ResourceCollection = GetResources;
        AssignmentCollection = GetAssignmentCollection();
    }
    public class TaskData
    {
        public int TaskID { get; set; }
        public string TaskName { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime? EndDate { get; set; }
        public int Duration { get; set; }
        public string Hours { get; set; }
        public string Custom { get; set; }
        public decimal Progress { get; set; }
        public List<TaskData> Subtasks { get; set; }
        public string Predecessor { get; set; }
        public string Info { get; set; }
        public bool IsMileStone { get; set; }
    }
    public class ResourceInfoModel
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public double MaxUnit { get; set; }
        public string? Group { get; set; }
    }
    public class AssignmentModel
    {
        public int Id { get; set; }
        public int TaskId { get; set; }
        public int ResourceId { get; set; }
        public double? Unit { get; set; }
    }
    public static List<ResourceInfoModel> GetResources = new List<ResourceInfoModel>()
    {
        new ResourceInfoModel() { Id= 1, Name= "Martin Tamer", Group="Planning Team"},
        new ResourceInfoModel() { Id= 2, Name= "Rose Fuller", Group="Testing Team" },
        new ResourceInfoModel() { Id= 3, Name= "Margaret Buchanan", Group="Approval Team" },
        new ResourceInfoModel() { Id= 4, Name= "Fuller King", Group="Development Team" },
        new ResourceInfoModel() { Id= 5, Name= "Davolio Fuller", Group="Approval Team" },
        new ResourceInfoModel() { Id= 6, Name= "Fuller Buchanan", Group="Development Team" },
        new ResourceInfoModel() { Id= 7, Name= "Jack Davolio", Group="Planning Team" },
        new ResourceInfoModel() { Id= 8, Name= "Tamer Vinet", Group="Testing Team" },
        new ResourceInfoModel() { Id= 9, Name= "Vinet Fuller", Group="Development Team" },
        new ResourceInfoModel() { Id= 10, Name= "Bergs Anton", Group="Testing Team" },
        new ResourceInfoModel() { Id= 11, Name= "Construction Supervisor", Group="Testing Team" },
    };
    public static List<AssignmentModel> GetAssignmentCollection()
    {
        List<AssignmentModel> assignments = new List<AssignmentModel>()
        {
            new AssignmentModel(){ Id=1, TaskId = 2 , ResourceId=1},
            new AssignmentModel(){ Id=2, TaskId = 3 , ResourceId=2},
            new AssignmentModel(){ Id=3, TaskId = 3 , ResourceId=3},
            new AssignmentModel(){ Id=4, TaskId = 3 , ResourceId=5},
        };
        return assignments;
    }
    public List<TaskData> GetEditingData()
    {
        return new List<TaskData>
        {
            new TaskData
            {
                TaskID = 1,
                TaskName = "Project initiation",
                StartDate = new DateTime(2019, 4, 2),
                EndDate = new DateTime(2019, 4, 21),
                Subtasks = new List<TaskData>
                {
                    new TaskData
                    {
                        TaskID = 2,
                        TaskName = "Identify site location",
                        StartDate = new DateTime(2019, 4, 2),
                        Duration = 0,
                        Progress = 30,
                        Info = "Measure the total property area allotted for construction"
                    },
                    new TaskData
                    {
                        TaskID = 3,
                        TaskName = "Perform Soil test",
                        StartDate = new DateTime(2019, 4, 2),
                        Duration = 4,
                        Predecessor = "2",
                        Info = "Obtain an engineered soil test of lot where construction is planned. " +
                               "From an engineer or company specializing in soil testing"
                    },
                    new TaskData
                    {
                        TaskID = 4,
                        TaskName = "Soil test approval",
                        StartDate = new DateTime(2019, 4, 2),
                        Duration = 10,
                        Predecessor = "3",
                        Progress = 30,
                        IsMileStone = true
                    }
                }
            }
        };
    }

}