@page "/gantt-remote-custom"

@rendermode InteractiveServer
@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids
@using System.ComponentModel.DataAnnotations;
<div class="control-section">
    <div class="row">
        <div class="col-md-12">
            <div style="padding-bottom: 10px;">
                <span class="e-dddata">
                    <SfDropDownList TItem="DropdownData" TValue="string" PopupHeight="230px" Width="240px" @bind-Index="@dropDownIndex" DataSource="@DLData" Placeholder="1000 Rows">
                        <DropDownListEvents TItem="DropdownData" TValue="string" ValueChange="OnDataChange" Closed="DropdownClose"></DropDownListEvents>
                        <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
                    </SfDropDownList>
                </span>
                <span style="padding-left: 20px; font-size: 15px">
                    <b>Data initial load time: </b> @(LoadTime.ToString() + " milliseconds")
                </span>
            </div>

            <SfGantt @ref="ganttInstance" TValue="TaskData" Height="700px" Width="100%" TreeColumnIndex="1" ProjectStartDate="new DateTime(2024, 12, 28)" ProjectEndDate="new DateTime(2025, 03, 19)" ScrollToTaskbarOnClick="true"
                     EnablePredecessorValidation="false" AutoCalculateDateScheduling="false" EnableRowVirtualization="true" EnableTimelineVirtualization="true">
                <SfDataManager Url=@adapatorUrl Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
                <GanttEditSettings AllowEditing="true" AllowAdding="true" AllowDeleting="true" AllowTaskbarEditing="true"></GanttEditSettings>
                <GanttTaskFields Id="Id"
                                 Name="Name"
                                 StartDate="StartDate"
                                 EndDate="EndDate"
                                 Progress="CompletionPercent"
                                 ParentID="ParentTaskId"
                                 Duration="DurationInDays"
                                 Dependency="Dependency">
                </GanttTaskFields>


                <GanttColumns>
                    <GanttColumn Field="Id"></GanttColumn>

                    <GanttColumn Field="Name"
                                 HeaderText="Project Activity"
                                 Width="280">
                    </GanttColumn>

                    <GanttColumn Field="StartDate"
                                 HeaderText="Planned Start Date">
                    </GanttColumn>

                    <GanttColumn Field="EndDate"
                                 HeaderText="Planned End Date">
                    </GanttColumn>

                    <GanttColumn Field="DurationInDays"
                                 HeaderText="Estimated Duration">
                    </GanttColumn>

                    <GanttColumn Field="CompletionPercent"
                                 HeaderText="Completion (%)">
                    </GanttColumn>
                </GanttColumns>


                <GanttTimelineSettings TimelineViewMode="TimelineViewMode.Week">
                    <GanttTopTierSettings Unit="TimelineViewMode.Week" Format="MMM, dd yyyy"></GanttTopTierSettings>
                    <GanttBottomTierSettings Unit="TimelineViewMode.Day" Format="dd"></GanttBottomTierSettings>
                </GanttTimelineSettings>

                <GanttLabelSettings TValue="TaskData" RightLabel="Name" TaskLabel="CompletionPercent"></GanttLabelSettings>
                <GanttEvents Created="OnGanttCreated" OnActionComplete="ActionCompleteHandler" TValue="TaskData"></GanttEvents>
                <GanttSplitterSettings ColumnIndex="2"></GanttSplitterSettings>
            </SfGantt>
        </div>
    </div>
</div>

@code {
    private SfGantt<TaskData> ganttInstance;
    private int? recordCount = 1000;
    // Initialize URL in the code block to ensure it's updated dynamically
    private string adapatorUrl => $"https://blazor.syncfusion.com/services/production/api/GanttRemoteData?count={recordCount}";
    private int? dropDownIndex = 0;
    private int? previousDropDownIndex { get; set; } = 0;

    public DateTime? StartLoadTime { get; private set; }
    public DateTime? EndLoadTime { get; private set; }
    public string LoadTime = string.Empty;

    protected override void OnInitialized()
    {
        StartLoadTime = DateTime.Now;
    }

    private void OnGanttCreated(object sender)
    {
        EndLoadTime = DateTime.Now;
        TimeSpan ts = (TimeSpan)(EndLoadTime - StartLoadTime);
        LoadTime = ts.TotalMilliseconds.ToString("F3");
    }

    public void ActionCompleteHandler(GanttActionEventArgs<TaskData> args)
    {
        if (args.RequestType == Syncfusion.Blazor.Gantt.Action.Refresh)
        {
            EndLoadTime = DateTime.Now;
            TimeSpan ts = (TimeSpan)(EndLoadTime - StartLoadTime);
            LoadTime = ts.TotalMilliseconds.ToString("F3");
        }
    }

    private void DropdownClose(@Syncfusion.Blazor.DropDowns.ClosedEventArgs args)
    {
        if (previousDropDownIndex != dropDownIndex)
        {
            StartLoadTime = DateTime.Now;
            previousDropDownIndex = dropDownIndex;
        }
    }

    public async Task OnDataChange(@Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, DropdownData> args)
    {
        recordCount = Int32.Parse(args.Value);
        await ganttInstance.RefreshAsync();
    }

    public class DropdownData
    {
        public string Text { get; set; } = string.Empty;
        public string Value { get; set; } = string.Empty;
    }

    public List<DropdownData> DLData = new List<DropdownData>() {
        new DropdownData(){ Text= "1,000 Rows", Value= "1000" },
        new DropdownData(){ Text= "2,500 Rows", Value= "2500" },
        new DropdownData(){ Text= "5,000 Rows", Value= "5000" },
    };


    public class TaskData
    {
        public int Id { get; set; }

        [CustomValidationName]
        public string Name { get; set; } = string.Empty;

        [CustomValidationStartDate]
        public DateTime StartDate { get; set; }

        [CustomValidationEndDate]
        public DateTime EndDate { get; set; }

        public int DurationInDays { get; set; }

        [CustomValidationProgress]
        public int CompletionPercent { get; set; }

        public int? ParentTaskId { get; set; }

        public string Dependency { get; set; } = string.Empty;
    }
    public class CustomValidationName : ValidationAttribute
    {
        protected override ValidationResult IsValid(object value, ValidationContext context)
        {
            var name = value as string;

            if (string.IsNullOrWhiteSpace(name))
                return new ValidationResult("Project Activity is required.");

            if (name.Length < 3)
                return new ValidationResult("Project Activity must be at least 3 characters.");

            if (name.Length > 10)
                return new ValidationResult("Project Activity cannot exceed 10 characters.");

            if (!System.Text.RegularExpressions.Regex.IsMatch(name, @"^[\w\s\-]+$"))
                return new ValidationResult("Only letters, numbers, spaces, and hyphens are allowed.");

            return ValidationResult.Success;
        }
    }
    public class CustomValidationStartDate : ValidationAttribute
    {
        protected override ValidationResult IsValid(object value, ValidationContext context)
        {
            if (value is DateTime date)
            {
                if (date < new DateTime(2020, 1, 1) || date > DateTime.Now)
                    return new ValidationResult("Planned Start Date must be between 01-Jan-2020 and today.");
            }
            else
            {
                return new ValidationResult("Planned Start Date is required.");
            }

            return ValidationResult.Success;
        }
    }

    public class CustomValidationEndDate : ValidationAttribute
    {
        protected override ValidationResult IsValid(object value, ValidationContext context)
        {
            if (value is DateTime date)
            {
                if (date < new DateTime(2020, 1, 1) || date > DateTime.Now)
                    return new ValidationResult("Planned End Date must be between 01-Jan-2020 and today.");
            }
            else
            {
                return new ValidationResult("Planned End Date is required.");
            }

            return ValidationResult.Success;
        }
    }
    public class CustomValidationProgress : ValidationAttribute
    {
        protected override ValidationResult IsValid(object value, ValidationContext context)
        {
            if (value == null)
                return new ValidationResult("Progress is required.");

            var v = (int)value;

            if (v < 5)
                return new ValidationResult("Progress must be greater than 5");

            if (v > 50)
                return new ValidationResult("Progress must be lesser than 50");

            return ValidationResult.Success;
        }
    }

}
