@page "/Predecessor/unscheduled-task"
@rendermode InteractiveServer
@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
<div id="dependency_gantt">
    <SfGantt @key="SelectedCollectionType" DataSource="@TaskCollection" @ref="Gantt" Height="550px" Width="1200px" ValidateManualTasksOnLinking="@ValidateManualTask" HighlightWeekends="true" AllowUnscheduledTasks="true" TreeColumnIndex="1" Toolbar="@(new List<string>() { "Add", "Cancel", "Delete", "Edit" })"
    TaskMode="@TaskMode">
        <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true" ShowDeleteConfirmDialog="true" Mode="EditMode.Auto"></GanttEditSettings>
        @if (SelectedCollectionType == "Auto" || SelectedCollectionType == "Manual")
        {
            <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" ParentID="ParentId" Dependency="Predecessor"></GanttTaskFields>
        }
        else
        {
            <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" ParentID="ParentId" Manual="IsManual" Dependency="Predecessor"></GanttTaskFields>
        }
        <GanttColumns>
            <GanttColumn Field="TaskId" Width="75px"></GanttColumn>
            <GanttColumn Field="TaskName" HeaderText="Task Name" Width="250px" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
            <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
            <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
            <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
            <GanttColumn Field="Predecessor" HeaderText="Predecessor"></GanttColumn>
        </GanttColumns>
        <GanttLabelSettings LeftLabel="TaskName" TValue="TaskInfoModel">
        </GanttLabelSettings>
        <GanttSplitterSettings Position="40%"></GanttSplitterSettings>
        <GanttEvents TValue="TaskInfoModel" OnCellSave="CellSaveHandler" CellSaved="CellSaved" TaskbarEditing="OnTaskbarEditingHandler" TaskbarEdited="OnTaskbarEditedHandler" TaskConnectorChanging="ConnectorLineDrawHandler" TaskConnectorChanged="ConnectorLineDrawCompletedHandler"></GanttEvents>
    </SfGantt>
</div>
<div>
    <SfDropDownList @bind-Value="SelectedCollectionType" DataSource="collectionTypes" Placeholder="@SelectedCollectionType" Width="150px">
        <DropDownListEvents TItem="DropdownData" TValue="string" ValueChange="HandleCollectionChange"></DropDownListEvents>
        <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
    </SfDropDownList>
    <SfDropDownList @bind-Value="selectedMethod" DataSource="methods" Placeholder="Public Methods" Width="300px">
        <DropDownListEvents TItem="DropdownData" TValue="string" ValueChange="HandleMethodChange"></DropDownListEvents>
        <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
    </SfDropDownList>
</div>
@code{
    private List<TaskInfoModel> TaskCollection { get; set; }
    private SfGantt<TaskInfoModel> Gantt;
    private ScheduleMode TaskMode = ScheduleMode.Custom;
    private string SelectedCollectionType { get; set; } = "Custom";
    private string selectedMethod { get; set; } = "";
    private bool ValidateManualTask { get; set; } = false;
    protected override void OnInitialized()
    {
        TaskCollection = GetCustomCollection();
    }
    private List<DropdownData> collectionTypes = new List<DropdownData>
    {
        new DropdownData{ Text = "Custom", Value = "Custom" },
        new DropdownData{ Text = "Auto", Value = "Auto" },
        new DropdownData{ Text = "Manual", Value = "Manual" },
    };
    private List<DropdownData> methods = new List<DropdownData>
    {
        new DropdownData{ Text = "Add Predecessor", Value = "AddPredecessor" },
        new DropdownData{ Text = "Update Predecessor", Value = "UpdatePredecessor" },
        new DropdownData{ Text = "Remove Predecessor", Value = "RemovePredecessor" },
    };
    private void HandleMethodChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, DropdownData> args)
    {
        selectedMethod = args.Value;
        SwitchMethods();
    }
    private void SwitchMethods()
    {
        switch (selectedMethod)
        {
            case "AddPredecessor":
                this.Gantt.AddPredecessor(4, "2FF-2");
                break;
            case "UpdatePredecessor":
                Gantt.UpdatePredecessor(6, "1FF");
                break;
            case "RemovePredecessor":
                Gantt.RemovePredecessor(2);
                break;
        }
    }
    private async void HandleCollectionChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, DropdownData> args)
    {
        SelectedCollectionType = args.Value;
        SwitchDataBinding();
        StateHasChanged();
    }
    private void SwitchDataBinding()
    {
        switch (SelectedCollectionType)
        {
            case "Custom":
                {
                    TaskMode = ScheduleMode.Custom;
                    TaskCollection = GetCustomCollection();
                }
                break;
            case "Auto":
                {
                    TaskMode = ScheduleMode.Auto;
                    TaskCollection = GetTaskCollection();
                }
                break;
            case "Manual":
                {
                    TaskMode = ScheduleMode.Manual;
                    ValidateManualTask = true;
                    TaskCollection = GetManualCollection();
                }
                break;
        }
    }
    public async void CellSaved(Syncfusion.Blazor.Grids.CellSavedArgs<TaskInfoModel> args)
    {
        await Task.CompletedTask;
    }
    public async void ConnectorLineDrawHandler(TaskConnectorChangeEventArgs<TaskInfoModel> args)
    {
        await Task.CompletedTask;
    }
    public async void ConnectorLineDrawCompletedHandler(TaskConnectorChangedEventArgs<TaskInfoModel> args)
    {
        await Task.CompletedTask;
    }
    private async Task OnTaskbarEditingHandler(TaskbarEditingEventArgs<TaskInfoModel> args)
    {
        await Task.CompletedTask;
    }
    private async Task OnTaskbarEditedHandler(TaskbarEditedEventArgs<TaskInfoModel> args)
    {
        await Task.CompletedTask;
    }
    private async Task CellSaveHandler(Syncfusion.Blazor.Grids.CellSaveArgs<TaskInfoModel> args)
    {
        await Task.CompletedTask;
    }
    public class DropdownData
    {
        public string? Text { get; set; }
        public string? Value { get; set; }
    }
    public class TaskInfoModel
    {
        public int TaskId { get; set; }
        public string TaskName { get; set; }
        public DateTime? StartDate { get; set; }
        public DateTime? EndDate { get; set; }
        public string Duration { get; set; }
        public int? ParentId { get; set; }
        public bool IsManual { get; set; }
        public string TaskMode { get; set; }
        public string? Predecessor { get; set; }
        public int? Progress { get; set; }
    }
    public static List<TaskInfoModel> GetCustomCollection()
    {
        List<TaskInfoModel> Tasks = new List<TaskInfoModel>()
        {
            new TaskInfoModel() { TaskId = 1, TaskName = "Project initiation", StartDate = new DateTime(2021, 04, 02), EndDate = new DateTime(2021, 04, 06) },
            new TaskInfoModel() { TaskId = 2, TaskName = "Auto with Duration only", Duration = "2", ParentId = 1,Predecessor="3" },
            new TaskInfoModel() { TaskId = 3, TaskName = "Auto with End Date only", EndDate = new DateTime(2021, 04, 03), ParentId = 1 },
            new TaskInfoModel() { TaskId = 4, TaskName = "Auto with Start Date only", StartDate = new DateTime(2021, 04, 02), ParentId = 1 },
            new TaskInfoModel() { TaskId = 5, TaskName = "No Scheduling Task" },
            new TaskInfoModel() { TaskId = 6, TaskName = "Market Research" },
            new TaskInfoModel() { TaskId = 7, TaskName = "Manual with Duration only", Duration = "2", IsManual = true, ParentId = 6 },
            new TaskInfoModel() { TaskId = 8, TaskName = "Manual with End Date only", EndDate = new DateTime(2021, 04, 03), ParentId = 6, IsManual = true },
            new TaskInfoModel() { TaskId = 9, TaskName = "Manual with Start Date only", StartDate = new DateTime(2021, 04, 02), ParentId = 6, IsManual = true },
        };
        return Tasks;
    }
    public static List<TaskInfoModel> GetManualCollection()
    {
        List<TaskInfoModel> Tasks = new List<TaskInfoModel>()
        {
            new TaskInfoModel() { TaskId = 1, TaskName = "Project initiation", StartDate = new DateTime(2021, 01, 04), EndDate = new DateTime(2021, 01, 08), },
            new TaskInfoModel() { TaskId = 2, TaskName = "Identify Site location", StartDate = new DateTime(2021, 01, 06), Duration = "4", Progress = 30, ParentId = 1, },
            new TaskInfoModel() { TaskId = 3, TaskName = "Perform soil test", StartDate = new DateTime(2021, 01, 06), Duration = "4", Progress = 40, ParentId = 1,Predecessor="2" },
            new TaskInfoModel() { TaskId = 4, TaskName = "Soil test approval", StartDate = new DateTime(2021, 01, 06), Duration = "3", Progress = 30, ParentId = 1, },
            new TaskInfoModel() { TaskId = 5, TaskName = "Project estimation", StartDate = new DateTime(2021, 01, 06), EndDate = new DateTime(2021, 01, 07), },
            new TaskInfoModel() { TaskId = 6, TaskName = "Develop floor plan for estimation", StartDate = new DateTime(2021, 01, 05), Duration = "3", Progress = 30, ParentId = 5, },
            new TaskInfoModel() { TaskId = 7, TaskName = "List materials", StartDate = new DateTime(2021, 01, 06), Duration = "3", Progress = 40, ParentId = 5, },
            new TaskInfoModel() { TaskId = 8, TaskName = "Estimation approval", StartDate = new DateTime(2021, 01, 06), Duration = "3", Progress = 30, ParentId = 5, }
        };
        return Tasks;
    }
    public static List<TaskInfoModel> GetTaskCollection()
    {
        List<TaskInfoModel> Tasks = new List<TaskInfoModel>() {
        new TaskInfoModel() {
        TaskId = 1,
        TaskName = "Project initiation",
        StartDate = new DateTime(2021, 04, 02),
        },

        new TaskInfoModel() {
            TaskId = 2,
            TaskName = "Identify Site location",
            Progress = 30,
        },

        new TaskInfoModel() {
            TaskId = 3,
            TaskName = "Perform soil test",
            Progress = 40,
            Duration = "3 Days",
            Predecessor="2"
        },

        new TaskInfoModel() {
            TaskId = 4,
            TaskName = "Soil test approval",
            EndDate =new DateTime(2021, 04, 03),
            Progress = 30,
        },

        new TaskInfoModel() {
            TaskId = 5,
            TaskName = "Project initiation",
            StartDate = new DateTime(2021, 04, 04),
        },

        new TaskInfoModel() {
            TaskId = 6,
            TaskName = "Identify Site location",
            StartDate = new DateTime(2021, 04, 02),
            Progress = 30,
            ParentId = 5,
        },

        new TaskInfoModel() {
            TaskId = 7,
            TaskName = "Perform soil test",
            StartDate = new DateTime(2021, 04, 02),
            Progress = 40,
            ParentId = 5,
        },

        new TaskInfoModel() {
            TaskId = 8,
            TaskName = "Soil test approval",
            EndDate = new DateTime(2021, 04, 02),
            Progress = 30,
            ParentId = 5
        },
        };
        return Tasks;
    }
}