@page "/resource-vitrual"
@rendermode InteractiveServer
@using Syncfusion.Blazor.Gantt
@using System.Dynamic
@using Syncfusion.Blazor.Buttons
<div>
    <table class="gantt-virtual">
        <tr>
            <td>
                <div class="e-switch-control">
                    <label class="showhide"> Disable Split-task </label>
                    <SfSwitch ValueChange="ToggleUpdate" @bind-Checked="@isSplitTask" TChecked="bool"></SfSwitch>
                    <label class="showhide"> Enable Split-task </label>
                </div>
            </td>
            <td>
                <div class="e-switch-control">
                    <label class="showhide"> Disable RTL </label>
                    <SfSwitch ValueChange="ToggleRtlUpdate" @bind-Checked="@IsCheck" TChecked="bool"></SfSwitch>
                    <label class="showhide"> Enable RTL </label>
                </div>
            </td>
            <td>
                <div class="e-switch-control">
                    <label class="showhide"> Disable Hierarchy Data Binding </label>
                    <SfSwitch ValueChange="ToggleHierarchyUpdate" @bind-Checked="@isHierarchical" TChecked="bool"></SfSwitch>
                    <label class="showhide"> Enable Hierarchy Data Binding</label>
                </div>
            </td>
        </tr>
    </table>
</div>

<div>
    @if (IsCheck)
    {
        <SfGantt TValue="TaskData" DataSource="@GanttData" Height="450px" Width="100%" ViewType="@viewType" EnableRtl="IsCheck" EnableColumnVirtualization="true" EnableRowVirtualization="true" EnableTimelineVirtualization="true"
        Toolbar="@(new List<string>(){"Add", "Delete", "Edit", "ZoomIn", "ZoomOut", "NextTimeSpan", "PrevTimeSpan"})" ScrollToTaskbarOnClick="true">
            <GanttTaskFields ParentID="ParentId" Work="Work" Id="ID" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" TaskType="TaskType" Dependency="Predecessor">
            </GanttTaskFields>
            <GanttColumns>
                <GanttColumn Field="ID" HeaderText="TaskId" Width="100" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GanttColumn>
                <GanttColumn Field="TaskName" HeaderText="TaskName"></GanttColumn>
                <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
                <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
                <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
                <GanttColumn Field="Assignee" HeaderText="Assignee"></GanttColumn>
                <GanttColumn Field="Reporter" HeaderText="Reporter"></GanttColumn>
                <GanttColumn Field="Progress" HeaderText="Progress" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GanttColumn>
                <GanttColumn Field="Priority" HeaderText="Priority"></GanttColumn>
                <GanttColumn Field="Status" HeaderText="Status"></GanttColumn>
                <GanttColumn Field="Work" HeaderText="Work (Hours)"></GanttColumn>
                <GanttColumn Field="TaskType" HeaderText="TaskType"></GanttColumn>
                <GanttColumn Field="Shift" HeaderText="WorkShift"></GanttColumn>
                <GanttColumn Field="StoryPoint" HeaderText="StoryPoint" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GanttColumn>
                <GanttColumn Field="ActualStartDate" HeaderText="ActualStartDate"></GanttColumn>
                <GanttColumn Field="ActualEndDate" HeaderText="ActualEndDate"></GanttColumn>
                <GanttColumn Field="WorkersCount" HeaderText="Resources Count" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GanttColumn>
                <GanttColumn Field="ApprovedBy" HeaderText="ApprovedBy"></GanttColumn>
                <GanttColumn Field="FixVerison" HeaderText="FixVersion" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GanttColumn>
                <GanttColumn Field="PlatForm" HeaderText="PlatForm"></GanttColumn>
                <GanttColumn Field="Predecessor" HeaderText="Dependency"></GanttColumn>
            </GanttColumns>
            <GanttResource DataSource="ResourceCollection" Id="Id" Name="Name" MaxUnits="MaxUnit" Group="Group" TValue="TaskData" TResources="ResourceInfoModel"></GanttResource>
            <GanttAssignmentFields DataSource="AssignmentCollection" PrimaryKey="Id" TaskID="TaskId" ResourceID="ResourceId" TValue="TaskData" TAssignment="AssignmentModel"></GanttAssignmentFields>
            <GanttSegmentFields PrimaryKey="Id" ForeignKey="TaskId" StartDate="SegmentStartDate" EndDate="SegmentEndDate"
            Duration="SegmentDuration" TValue="TaskData" TSegments="SegmentModel" DataSource="segmentCollection"></GanttSegmentFields>
            <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
        </SfGantt>
    }
    else if (isHierarchical)
    {
        <SfGantt TValue="HierarchicalData" DataSource="@HierarchyData" Height="450px" Width="100%" EnableColumnVirtualization="true" EnableRowVirtualization="true" EnableTimelineVirtualization="true"
        Toolbar="@(new List<string>(){"Add", "Delete", "Edit", "ZoomIn", "ZoomOut", "NextTimeSpan", "PrevTimeSpan"})" ScrollToTaskbarOnClick="true">
            <GanttTaskFields Child="SubTasks" Work="Work" Id="ID" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" TaskType="TaskType" Dependency="Predecessor">
            </GanttTaskFields>
            <GanttColumns>
                <GanttColumn Field="ID" HeaderText="TaskId" Width="100" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GanttColumn>
                <GanttColumn Field="TaskName" HeaderText="TaskName"></GanttColumn>
                <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
                <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
                <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
                <GanttColumn Field="Assignee" HeaderText="Assignee"></GanttColumn>
                <GanttColumn Field="Reporter" HeaderText="Reporter"></GanttColumn>
                <GanttColumn Field="Progress" HeaderText="Progress" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GanttColumn>
                <GanttColumn Field="Priority" HeaderText="Priority"></GanttColumn>
                <GanttColumn Field="Status" HeaderText="Status"></GanttColumn>
                <GanttColumn Field="Work" HeaderText="Work (Hours)"></GanttColumn>
                <GanttColumn Field="TaskType" HeaderText="TaskType"></GanttColumn>
                <GanttColumn Field="Shift" HeaderText="WorkShift"></GanttColumn>
                <GanttColumn Field="StoryPoint" HeaderText="StoryPoint" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GanttColumn>
                <GanttColumn Field="ActualStartDate" HeaderText="ActualStartDate"></GanttColumn>
                <GanttColumn Field="ActualEndDate" HeaderText="ActualEndDate"></GanttColumn>
                <GanttColumn Field="WorkersCount" HeaderText="Resources Count" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GanttColumn>
                <GanttColumn Field="ApprovedBy" HeaderText="ApprovedBy"></GanttColumn>
                <GanttColumn Field="FixVerison" HeaderText="FixVersion" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GanttColumn>
                <GanttColumn Field="PlatForm" HeaderText="PlatForm"></GanttColumn>
                <GanttColumn Field="Predecessor" HeaderText="Dependency"></GanttColumn>
            </GanttColumns>
            <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
        </SfGantt>
    }
    else
    {
        <SfGantt TValue="TaskData" DataSource="@GanttData" Height="450px" Width="100%" ViewType="@viewType" EnableColumnVirtualization="true" EnableRowVirtualization="true" EnableTimelineVirtualization="true"
        Toolbar="@(new List<string>(){"Add", "Delete", "Edit", "ZoomIn", "ZoomOut", "NextTimeSpan", "PrevTimeSpan"})" ScrollToTaskbarOnClick="true">
            <GanttTaskFields ParentID="ParentId" Work="Work" Id="ID" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" TaskType="TaskType" Dependency="Predecessor">
            </GanttTaskFields>
            <GanttColumns>
                <GanttColumn Field="ID" HeaderText="TaskId" Width="100" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GanttColumn>
                <GanttColumn Field="TaskName" HeaderText="TaskName"></GanttColumn>
                <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
                <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
                <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
                <GanttColumn Field="Assignee" HeaderText="Assignee"></GanttColumn>
                <GanttColumn Field="Reporter" HeaderText="Reporter"></GanttColumn>
                <GanttColumn Field="Progress" HeaderText="Progress" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GanttColumn>
                <GanttColumn Field="Priority" HeaderText="Priority"></GanttColumn>
                <GanttColumn Field="Status" HeaderText="Status"></GanttColumn>
                <GanttColumn Field="Work" HeaderText="Work (Hours)"></GanttColumn>
                <GanttColumn Field="TaskType" HeaderText="TaskType"></GanttColumn>
                <GanttColumn Field="Shift" HeaderText="WorkShift"></GanttColumn>
                <GanttColumn Field="StoryPoint" HeaderText="StoryPoint" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GanttColumn>
                <GanttColumn Field="ActualStartDate" HeaderText="ActualStartDate"></GanttColumn>
                <GanttColumn Field="ActualEndDate" HeaderText="ActualEndDate"></GanttColumn>
                <GanttColumn Field="WorkersCount" HeaderText="Resources Count" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GanttColumn>
                <GanttColumn Field="ApprovedBy" HeaderText="ApprovedBy"></GanttColumn>
                <GanttColumn Field="FixVerison" HeaderText="FixVersion" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GanttColumn>
                <GanttColumn Field="PlatForm" HeaderText="PlatForm"></GanttColumn>
                <GanttColumn Field="Predecessor" HeaderText="Dependency"></GanttColumn>
            </GanttColumns>
            <GanttResource DataSource="ResourceCollection" Id="Id" Name="Name" MaxUnits="MaxUnit" Group="Group" TValue="TaskData" TResources="ResourceInfoModel"></GanttResource>
            <GanttAssignmentFields DataSource="AssignmentCollection" PrimaryKey="Id" TaskID="TaskId" ResourceID="ResourceId" TValue="TaskData" TAssignment="AssignmentModel"></GanttAssignmentFields>
            <GanttSegmentFields PrimaryKey="Id" ForeignKey="TaskId" StartDate="SegmentStartDate" EndDate="SegmentEndDate"
            Duration="SegmentDuration" TValue="TaskData" TSegments="SegmentModel" DataSource="segmentCollection"></GanttSegmentFields>
            <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
        </SfGantt>
    }
</div>
<style>
    .gantt-virtual td {
        white-space: nowrap;
        padding-right: 15px;
    }

    .showhide {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 1px;
        padding: 10px;
    }

    .e-switch-control {
        display: flex;
        align-items: center;
    }
</style>

@code {
    private List<TaskData> GanttData { get; set; }
    private List<HierarchicalData> HierarchyData { get; set; }
    private List<SegmentModel> segmentCollection { get; set; }
    private bool isSplitTask;
    private ViewType viewType = ViewType.ResourceView;
    private bool IsCheck;
    private bool isHierarchical = true;
    private static List<AssignmentModel> AssignmentCollection { get; set; }
    private List<ResourceInfoModel> ResourceCollection { get; set; }
    protected override void OnInitialized()
    {
        this.GanttData = VirtualData.GetTreeVirtualData(200);
        HierarchyData = VirtualData.GetHierarchicalCollection(200);
        ResourceCollection = GetResources;
        AssignmentCollection = GetAssignmentCollection();
    }
    private void ToggleUpdate()
    {
        if (isSplitTask)
        {
            segmentCollection = GetSegmentCollection();
        }
        else
        {
            segmentCollection = new();
        }
        StateHasChanged();
    }
    private void ToggleRtlUpdate()
    {
        StateHasChanged();
    }
    private void ToggleHierarchyUpdate()
    {
        StateHasChanged();
    }
    public class VirtualData
    {
        public static List<TaskData> GetTreeVirtualData(int count)
        {
            List<TaskData> DataCollection = new List<TaskData>();
            var x = 0;
            int duration = 0;
            DateTime startDate = new DateTime(2000, 1, 5);
            DateTime endDate = new DateTime(2000, 1, 12);
            string[] assignee = { "Allison Janney", "Bryan Fogel", "Richard King", "Alex Gibson" };
            string[] reporter = { "James Ivory", "Jordan Peele", "Guillermo del Toro", "Gary Oldman" };
            string[] priority = { "Normal", "High", "Low", "Ultra Critical" };
            string[] status = { "Validated", "InProgress", "Approved", "Completed" };
            string[] tasktype = { "FixedDuration", "FixedWork", "FixedUnit" };
            string[] shift = { "Noon Shift", "Night Shift", "Regular" };
            int[] storypoint = { 1, 2, 3, 4 };
            string[] fixversion = { "19.1", "19.2", "20.1", "20.2" };
            string[] approvedby = { "Margaret Buchanan", "Van Jack", "Fuller King", "Rose Fuller" };
            string[] platform = { "Blazor", "Angular", "EJ2", "EJ1" };
            for (var i = 1; i <= count / 5; i++)
            {
                TaskData Parent = new TaskData()
                    {
                        ID = ++x,
                        TaskName = "Task " + x,
                        StartDate = startDate,
                        EndDate = startDate.AddDays(26),
                        ActualStartDate = startDate,
                        ActualEndDate = endDate,
                        Duration = "20",
                        Assignee = "Mark Bridges",
                        Reporter = "Kobe Bryant",
                        Progress = 50,
                        Priority = "High",
                        TaskType = "FixedWork",
                        Status = "Open",
                        Work = 16 + x,
                        Shift = "Regular",
                        StoryPoint = 5,
                        WorkersCount = 4,
                        FixVerison = "20.2",
                        ApprovedBy = "Van Jack",
                        PlatForm = "Blazor",
                        Predecessor = null
                    };
                DataCollection.Add(Parent);
                for (var j = 1; j <= 4; j++)
                {
                    startDate = startDate.AddDays(j == 1 ? 0 : duration + 2);
                    duration = 5;
                    DataCollection.Add(new TaskData()
                        {
                            ID = ++x,
                            TaskName = "Task " + x,
                            StartDate = startDate,
                            EndDate = startDate.AddDays(5),
                            ActualStartDate = startDate,
                            ActualEndDate = startDate.AddDays(5),
                            Duration = duration.ToString(),
                            Assignee = assignee[j - 1],
                            Reporter = reporter[j - 1],
                            Progress = 50,
                            ParentId = Parent.ID,
                            Priority = priority[j - 1],
                            Status = status[j - 1],
                            Work = 96 + x,
                            TaskType = tasktype[(j - 1) % 3],
                            Shift = shift[(j - 1) % 3],
                            StoryPoint = storypoint[j - 1],
                            WorkersCount = 1,
                            FixVerison = fixversion[j - 1],
                            ApprovedBy = approvedby[j - 1],
                            PlatForm = platform[j - 1],
                            Predecessor = j > 1 ? (x - 1) + "FS" : ""
                        });
                }
            }
            return DataCollection;
        }

        public static List<HierarchicalData> GetHierarchicalCollection(int count)
        {
            List<HierarchicalData> DataCollection = new List<HierarchicalData>();
            var x = 0;
            int duration = 0;
            DateTime startDate = new DateTime(2000, 1, 5);
            DateTime endDate = new DateTime(2000, 1, 12);
            string[] assignee = { "Allison Janney", "Bryan Fogel", "Richard King", "Alex Gibson" };
            string[] reporter = { "James Ivory", "Jordan Peele", "Guillermo del Toro", "Gary Oldman" };
            string[] priority = { "Normal", "High", "Low", "Ultra Critical" };
            string[] status = { "Validated", "InProgress", "Approved", "Completed" };
            string[] tasktype = { "FixedDuration", "FixedWork", "FixedUnit" };
            string[] shift = { "Noon Shift", "Night Shift", "Regular" };
            int[] storypoint = { 1, 2, 3, 4 };
            string[] fixversion = { "19.1", "19.2", "20.1", "20.2" };
            string[] approvedby = { "Margaret Buchanan", "Van Jack", "Fuller King", "Rose Fuller" };
            string[] platform = { "Blazor", "Angular", "EJ2", "EJ1" };
            for (var i = 1; i <= count / 5; i++)
            {
                HierarchicalData Parent = new HierarchicalData()
                    {
                        ID = ++x,
                        TaskName = "Task " + x,
                        StartDate = startDate,
                        EndDate = startDate.AddDays(26),
                        ActualStartDate = startDate,
                        ActualEndDate = endDate,
                        Duration = "20",
                        Assignee = "Mark Bridges",
                        Reporter = "Kobe Bryant",
                        Progress = 50,
                        Priority = "High",
                        TaskType = "FixedWork",
                        Status = "Open",
                        Work = 16 + x,
                        Shift = "Regular",
                        StoryPoint = 5,
                        WorkersCount = 4,
                        FixVerison = "20.2",
                        ApprovedBy = "Van Jack",
                        PlatForm = "Blazor",
                        Predecessor = null,
                        SubTasks = new List<HierarchicalData>()
                    };
                for (var j = 1; j <= 4; j++)
                {
                    startDate = startDate.AddDays(j == 1 ? 0 : duration + 2);
                    duration = 5;
                    Parent.SubTasks.Add(new HierarchicalData()
                        {
                            ID = ++x,
                            TaskName = "Task " + x,
                            StartDate = startDate,
                            EndDate = startDate.AddDays(5),
                            ActualStartDate = startDate,
                            ActualEndDate = startDate.AddDays(5),
                            Duration = duration.ToString(),
                            Assignee = assignee[j - 1],
                            Reporter = reporter[j - 1],
                            Progress = 50,
                            Priority = priority[j - 1],
                            Status = status[j - 1],
                            Work = 96 + x,
                            TaskType = tasktype[(j - 1) % 3],
                            Shift = shift[(j - 1) % 3],
                            StoryPoint = storypoint[j - 1],
                            WorkersCount = 1,
                            FixVerison = fixversion[j - 1],
                            ApprovedBy = approvedby[j - 1],
                            PlatForm = platform[j - 1],
                            Predecessor = j > 1 ? (x - 1) + "FS" : ""
                        });
                }
                DataCollection.Add(Parent);
            }
            return DataCollection;
        }
    }
    public class TaskData
    {
        public int ID { get; set; }
        public string TaskName { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
        public string Duration { get; set; }
        public string Assignee { get; set; }
        public string Reporter { get; set; }
        public int Progress { get; set; }
        public int? ParentId { get; set; }
        public string Status { get; set; }
        public double? Work { get; set; }
        public int WorkersCount { get; set; }
        public string TaskType { get; set; }
        public string ApprovedBy { get; set; }
        public string Shift { get; set; }
        public string PlatForm { get; set; }
        public int StoryPoint { get; set; }
        public string Priority { get; set; }
        public string FixVerison { get; set; }
        public DateTime ActualStartDate { get; set; }
        public DateTime ActualEndDate { get; set; }
        public string Predecessor { get; set; }
    }
    public class HierarchicalData
    {
        public int ID { get; set; }
        public string TaskName { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
        public string Duration { get; set; }
        public string Assignee { get; set; }
        public string Reporter { get; set; }
        public int Progress { get; set; }
        public string Status { get; set; }
        public double? Work { get; set; }
        public int WorkersCount { get; set; }
        public string TaskType { get; set; }
        public string ApprovedBy { get; set; }
        public string Shift { get; set; }
        public string PlatForm { get; set; }
        public int StoryPoint { get; set; }
        public string Priority { get; set; }
        public string FixVerison { get; set; }
        public DateTime ActualStartDate { get; set; }
        public DateTime ActualEndDate { get; set; }
        public string Predecessor { get; set; }
        public List<HierarchicalData> SubTasks { get; set; }
    }
    public static List<ResourceInfoModel> GetResources = new List<ResourceInfoModel>()
        {
            new ResourceInfoModel() { Id= 1, Name= "Martin Tamer", Group="Planning Team"},
            new ResourceInfoModel() { Id= 2, Name= "Rose Fuller", Group="Testing Team" },
            new ResourceInfoModel() { Id= 3, Name= "Margaret Buchanan", Group="Approval Team" },
            new ResourceInfoModel() { Id= 4, Name= "Fuller King", Group="Development Team" },
            new ResourceInfoModel() { Id= 5, Name= "Davolio Fuller", Group="Approval Team" },
            new ResourceInfoModel() { Id= 6, Name= "Fuller Buchanan", Group="Development Team" },
            new ResourceInfoModel() { Id= 7, Name= "Jack Davolio", Group="Planning Team" },
            new ResourceInfoModel() { Id= 8, Name= "Tamer Vinet", Group="Testing Team" },
            new ResourceInfoModel() { Id= 9, Name= "Vinet Fuller", Group="Development Team" },
            new ResourceInfoModel() { Id= 10, Name= "Bergs Anton", Group="Testing Team" },
            new ResourceInfoModel() { Id= 11, Name= "Construction Supervisor", Group="Testing Team" },
        };
    public static List<AssignmentModel> GetAssignmentCollection()
    {
        List<AssignmentModel> assignments = new List<AssignmentModel>()
            {
                new AssignmentModel(){ Id=1, TaskId = 2 , ResourceId=1, Unit=70},
                new AssignmentModel(){ Id=2, TaskId = 3 , ResourceId=1, Unit=70},
                new AssignmentModel(){ Id=3, TaskId = 4 , ResourceId=3},
                new AssignmentModel(){ Id=4, TaskId = 5 , ResourceId=8},
                new AssignmentModel(){ Id=5, TaskId = 6 , ResourceId=2},
                new AssignmentModel(){ Id=6, TaskId = 7 , ResourceId=4, Unit=30},
                new AssignmentModel(){ Id=7, TaskId = 8 , ResourceId=8},
                new AssignmentModel(){ Id=8, TaskId = 9 , ResourceId=11},
                new AssignmentModel(){ Id=9, TaskId = 12 , ResourceId=2},
                new AssignmentModel(){ Id=10, TaskId = 13 , ResourceId=6},
                new AssignmentModel(){ Id=11, TaskId = 14 , ResourceId=7},
                new AssignmentModel(){ Id=12, TaskId = 15 , ResourceId=9},
                new AssignmentModel(){ Id=13, TaskId = 16 , ResourceId=10},
                new AssignmentModel(){ Id=14, TaskId = 17 , ResourceId=7},
                new AssignmentModel(){ Id=15, TaskId = 18 , ResourceId=5},
                new AssignmentModel(){ Id=16, TaskId = 19 , ResourceId=5}
            };
        return assignments;
    }
    public class SegmentModel
    {
        public int Id { get; set; }
        public int TaskId { get; set; }
        public DateTime SegmentStartDate { get; set; }
        public DateTime SegmentEndDate { get; set; }
        public string SegmentDuration { get; set; }
    }
    public static List<SegmentModel> GetSegmentCollection()
    {
        List<SegmentModel> segments = new List<SegmentModel>
            {
                new SegmentModel() { Id = 1, TaskId = 2, SegmentStartDate = new DateTime(2021, 04, 02), SegmentEndDate = new DateTime(2021, 04, 03) },
                new SegmentModel() { Id = 2, TaskId = 2, SegmentStartDate = new DateTime(2021, 04, 05), SegmentDuration = "1" },
                new SegmentModel() { Id = 3, TaskId = 3, SegmentStartDate = new DateTime(2021, 04, 02), SegmentDuration = "1" },
                new SegmentModel() { Id = 4, TaskId = 3, SegmentStartDate = new DateTime(2021, 04, 04), SegmentEndDate = new DateTime(2021, 04, 05) },
                new SegmentModel() { Id = 5, TaskId = 4, SegmentStartDate = new DateTime(2021, 04, 06), SegmentDuration = "1" },
                new SegmentModel() { Id = 6, TaskId = 4, SegmentStartDate = new DateTime(2021, 04, 07), SegmentEndDate = new DateTime(2021, 04, 08) },
                new SegmentModel() { Id = 7, TaskId = 7, SegmentStartDate = new DateTime(2021, 04, 09), SegmentDuration = "1" },
                new SegmentModel() { Id = 8, TaskId = 7, SegmentStartDate = new DateTime(2021, 04, 11), SegmentDuration = "1" },
                new SegmentModel() { Id = 9, TaskId = 8, SegmentStartDate = new DateTime(2021, 04, 09), SegmentEndDate = new DateTime(2021, 04, 10) },
                new SegmentModel() { Id = 10, TaskId = 8, SegmentStartDate = new DateTime(2021, 04, 12), SegmentDuration = "1" },
            };
        return segments;
    }
   
    public class ResourceInfoModel
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public double? MaxUnit { get; set; }
        public string? Group { get; set; }
    }
    public class AssignmentModel
    {
        public int Id { get; set; }
        public int TaskId { get; set; }
        public int ResourceId { get; set; }
        public double Unit { get; set; }
    }
}