@page "/split-task-timeline"
@rendermode InteractiveServer

@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
<div id="split-task-timeline">
    <div>
        <table>
            <tr>
                <td>
                    <label>Event args:</label>
                    <span>Added: @segementAddCount</span>
                    <span>Updated: @segementUpdateCount</span>
                    <span>Deleted: @segementDeleteCount</span>
                </td>
                <td>
                    <div class="e-switch-control">
                        <label class="showhide"> Disable Segement event args cancel </label>
                        <SfSwitch @bind-Checked="@isSegementCancel" TChecked="bool"></SfSwitch>
                        <label class="showhide"> Enable Segement event args cancel </label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <SfGantt TValue="TaskData" DataSource="@TaskCollection" Height="450px" Width="100%" TreeColumnIndex="1" Toolbar="@(new List<Object>() { "Add", "Cancel", "Update" , "Delete", "Edit", "CollapseAll", "ExpandAll", "ZoomIn", "ZoomOut", "ZoomToFit" })" EnableContextMenu="true" RowHeight="37" ProjectStartDate="ProjectStartDate" ProjectEndDate="ProjectEndDate" ScrollToTaskbarOnClick="true">
            <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" ParentID="ParentId" Dependency="Predecessor">
            </GanttTaskFields>
            <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
            <GanttSegmentFields PrimaryKey="id" ForeignKey="TaskId" StartDate="StartDate" EndDate="EndDate" Duration="Duration" TValue="TaskData" TSegments="SegmentModel" DataSource="SegmentCollection" SegmentChanging="SegmentHandler"></GanttSegmentFields>
            <GanttLabelSettings LeftLabel="TaskName" TValue="TaskData"></GanttLabelSettings>
            <GanttColumns>
                <GanttColumn Field="TaskId" Width="100" Visible="false"></GanttColumn>
                <GanttColumn Field="TaskName" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
                <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
                <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
                <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
                <GanttColumn Field="Progress" HeaderText="Progress"></GanttColumn>
                <GanttColumn Field="Predecessor" HeaderText="Dependency"></GanttColumn>
            </GanttColumns>
            <GanttSplitterSettings Position="28%"></GanttSplitterSettings>
            <GanttTimelineSettings TimelineUnitSize="@DefaultUnitWidth">
                <GanttTopTierSettings Unit="@TopTierUnit" Count="@TopTierCount"></GanttTopTierSettings>
                <GanttBottomTierSettings Count="@BottomTierCount" Unit="@BottomTierUnit"></GanttBottomTierSettings>
            </GanttTimelineSettings>
        </SfGantt>
    </div>

    <div>
        <table id="property" title="Properties" class="property-panel-table">
            <tbody>
                <tr>
                    <td style="width: 50%">
                        <div class="userselect">Unit width</div>
                    </td>
                    <td style="width: 50%;padding-right: 10px">
                        <div>
                            <SfNumericTextBox TValue="int?" Format="n0" Value="@DefaultUnitWidth" Min="10">
                                <NumericTextBoxEvents TValue="int?" ValueChange="@(e => { DefaultUnitWidth = e.Value ?? 33; })"></NumericTextBoxEvents>
                            </SfNumericTextBox>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:30%;"><div><b>Top tier</b></div></td>
                </tr>
                <tr>
                    <td style="width:30%;"><div>Count</div></td>
                    <td style="width: 70%">
                        <div>
                            <SfNumericTextBox Enabled="@EnableTopNumericBox" TValue="int?" Format="n0" Value="@TopTierCount" Min="1" Max="50">
                                <NumericTextBoxEvents TValue="int?" ValueChange="@(e => { TopTierCount = e.Value ?? 1; })"></NumericTextBoxEvents>
                            </SfNumericTextBox>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:30%;"><div>Unit</div></td>
                    <td style="width: 70%">
                        <div>
                            <SfDropDownList Enabled="@EnableTopUnitDropDown" TValue="string" TItem="TimelineUnit" Placeholder="Week" DataSource="@TimelineUnits">
                                <DropDownListFieldSettings Text="Unit" Value="Id"></DropDownListFieldSettings>
                                <DropDownListEvents TValue="string" TItem="TimelineUnit" ValueChange="@TopUnitChange"></DropDownListEvents>
                            </SfDropDownList>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:30%;"><div><b>Bottom tier</b></div></td>
                </tr>
                <tr>
                    <td style="width:30%;"><div>Count</div></td>
                    <td style="width: 70%">
                        <div>
                            <SfNumericTextBox Enabled="@EnableBottomNumericBox" TValue="int?" Format="n0" Value="@BottomTierCount" Min="1" Max="50">
                                <NumericTextBoxEvents TValue="int?" ValueChange="@(e => { BottomTierCount = e.Value ?? 1; })"></NumericTextBoxEvents>
                            </SfNumericTextBox>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:30%;"><div>Unit</div></td>
                    <td style="width: 70%">
                        <div>
                            <SfDropDownList Enabled="@EnableBottomUnitDropDown" TValue="string" TItem="TimelineUnit" Placeholder="Day" DataSource="@TimelineUnits">
                                <DropDownListFieldSettings Text="Unit" Value="Id"></DropDownListFieldSettings>
                                <DropDownListEvents TValue="string" TItem="TimelineUnit" ValueChange="@BottomUnitChange"></DropDownListEvents>
                            </SfDropDownList>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<style>
    #split-task-timeline {
        display: flex;
        flex-direction: column;
    }

        #split-task-timeline > div {
            margin-bottom: 20px;
        }

    .showhide {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 1px;
        padding: 10px;
    }

    .e-switch-control {
        display: flex;
        align-items: center;
    }
</style>
@code {
    private DateTime ProjectStartDate { get; set; } = new DateTime(2022, 03, 23);
    private DateTime ProjectEndDate { get; set; } = new DateTime(2022, 05, 10);
    private List<TaskData> TaskCollection { get; set; }
    private List<SegmentModel> SegmentCollection { get; set; }
    private int DefaultUnitWidth { get; set; } = 33;
    private int TopTierCount { get; set; } = 1;
    private int BottomTierCount { get; set; } = 1;

    private bool EnableTopNumericBox { get; set; } = true;
    private bool EnableTopUnitDropDown { get; set; } = true;
    private bool EnableTopFormatDropDown { get; set; } = true;
    private bool EnableBottomNumericBox { get; set; } = true;
    private bool EnableBottomUnitDropDown { get; set; } = true;
    private bool EnableBottomFormatDropDown { get; set; } = true;
    private TimelineViewMode TopTierUnit { get; set; } = TimelineViewMode.Week;
    private TimelineViewMode BottomTierUnit { get; set; } = TimelineViewMode.Day;
    private int segementAddCount = 0;
    private int segementUpdateCount = 0;
    private int segementDeleteCount = 0;
    private bool isSegementCancel;
    protected override void OnInitialized()
    {
        TaskCollection = GetTaskCollection();
        SegmentCollection = GetSegmentCollection();
    }
    public class SegmentModel
    {
        public int id { get; set; }
        public int TaskId { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
        public string Duration { get; set; }
    }
    public class TaskData
    {
        public int TaskId { get; set; }
        public string TaskName { get; set; }
        public DateTime? StartDate { get; set; }
        public DateTime? EndDate { get; set; }
        public string Duration { get; set; }
        public int Progress { get; set; }
        public int? ParentId { get; set; }
        public string Predecessor { get; set; }
    }
    public static List<TaskData> GetTaskCollection()
    {
        List<TaskData> Tasks = new List<TaskData>() {
            new TaskData() { TaskId = 1, TaskName = "Project initiation", StartDate = new DateTime(2022, 03, 28), EndDate = new DateTime(2022, 07, 28), Duration="4" },
            new TaskData() { TaskId = 2, TaskName = "Identify site location", StartDate = new DateTime(2022, 03, 29), Progress = 30, ParentId = 1, Duration="8", },
            new TaskData() { TaskId = 3, TaskName = "Site analyze", StartDate = new DateTime(2022, 03, 29),  Progress = 50, ParentId = 1, Duration="8"},
            new TaskData() { TaskId = 4, TaskName = "Perform soil test", StartDate = new DateTime(2022, 03, 29), ParentId = 1, Duration="5", Predecessor="2FS", Progress=40, },
            new TaskData() { TaskId = 5, TaskName = "Soil test approval", StartDate = new DateTime(2022, 03, 29), Duration="4", Progress = 30 },
            new TaskData() { TaskId = 6, TaskName = "Project estimation", StartDate = new DateTime(2022, 04, 08), Duration="8", Progress=40, ParentId=1 },
            new TaskData() { TaskId = 7, TaskName = "Develop floor plan for estimation", StartDate = new DateTime(2022, 03, 29), Duration = "0", Progress = 30, ParentId = 5, Predecessor= "4FS" },
            new TaskData() { TaskId = 8, TaskName = "List materials", StartDate = new DateTime(2022, 04, 01), Duration = "6", Progress = 30, ParentId = 5 },
            new TaskData() { TaskId = 9, TaskName = "Estimation approval",Progress=30, StartDate = new DateTime(2022, 04, 01), Duration = "4", ParentId = 5, Predecessor="8FS" },
            new TaskData() { TaskId = 10, TaskName = "Building approval", StartDate = new DateTime(2022, 04, 12), Duration = "5", ParentId = 5 },
            new TaskData() { TaskId = 11, TaskName = "Construction initiation", StartDate = new DateTime(2022, 04, 01), Duration = "5", Progress=40 },
            new TaskData() { TaskId = 12, TaskName = "Ground floor initiation", StartDate = new DateTime(2022, 04, 05), Duration = "5", ParentId = 11, Progress=40},
            new TaskData() { TaskId = 13, TaskName = "First floor initiation", StartDate = new DateTime(2022, 04, 05), Duration = "7",ParentId = 11, Progress=40},
            new TaskData() { TaskId = 14, TaskName = "Electric work initiation", StartDate = new DateTime(2022, 04, 01), Duration = "5", ParentId = 11, Progress=40, },
            new TaskData() { TaskId = 15, TaskName = "Plumbing work", StartDate = new DateTime(2022, 04, 02), Duration = "5", ParentId = 11, Progress=40 },
       };
        return Tasks;
    }
    private List<SegmentModel> GetSegmentCollection()
    {
        List<SegmentModel> segments = new List<SegmentModel>();
        segments.Add(new SegmentModel() { id = 1, TaskId = 2, StartDate = new DateTime(2022, 04, 01), Duration = "1" });
        segments.Add(new SegmentModel() { id = 2, TaskId = 2, StartDate = new DateTime(2022, 03, 29), EndDate = new DateTime(2022, 03, 31) });
        segments.Add(new SegmentModel() { id = 3, TaskId = 3, StartDate = new DateTime(2022, 04, 01), Duration = "2" });
        segments.Add(new SegmentModel() { id = 4, TaskId = 3, StartDate = new DateTime(2022, 03, 29), EndDate = new DateTime(2022, 03, 31) });
        segments.Add(new SegmentModel() { id = 5, TaskId = 3, StartDate = new DateTime(2022, 04, 04), Duration = "3" });
        segments.Add(new SegmentModel() { id = 6, TaskId = 4, StartDate = new DateTime(2022, 04, 01), Duration = "1" });
        segments.Add(new SegmentModel() { id = 7, TaskId = 4, StartDate = new DateTime(2022, 03, 29), EndDate = new DateTime(2022, 03, 31) });
        segments.Add(new SegmentModel() { id = 8, TaskId = 8, StartDate = new DateTime(2022, 04, 01), EndDate = new DateTime(2022, 04, 03) });
        segments.Add(new SegmentModel() { id = 9, TaskId = 8, StartDate = new DateTime(2022, 04, 05), Duration = "1" });
        segments.Add(new SegmentModel() { id = 10, TaskId = 9, StartDate = new DateTime(2022, 03, 29), EndDate = new DateTime(2022, 03, 31) });
        segments.Add(new SegmentModel() { id = 11, TaskId = 9, StartDate = new DateTime(2022, 04, 01), Duration = "1" });
        segments.Add(new SegmentModel() { id = 12, TaskId = 12, StartDate = new DateTime(2022, 04, 05), Duration = "1" });
        segments.Add(new SegmentModel() { id = 13, TaskId = 12, StartDate = new DateTime(2022, 04, 07), Duration = "1" });
        segments.Add(new SegmentModel() { id = 14, TaskId = 14, StartDate = new DateTime(2022, 04, 01), EndDate = new DateTime(2022, 04, 02) });
        segments.Add(new SegmentModel() { id = 15, TaskId = 14, StartDate = new DateTime(2022, 04, 04), Duration = "2" });
        return segments;
    }
    private List<DayFormat> YearFormats = new List<DayFormat>()
    {
        new DayFormat { Id = "MMM yy", Format = "Jan 18" },
        new DayFormat { Id = "yyyy", Format = "2018" },
        new DayFormat { Id = "MMMM, y", Format = "January, 18" },
    };

    private List<DayFormat> MonthFormats = new List<DayFormat>()
    {
        new DayFormat { Id = "MMM dd, yyyy", Format = "Jan 01, 2018" },
        new DayFormat { Id = "MMMM", Format = "January" },
        new DayFormat { Id = "MMM", Format = "Jan" },
    };

    private List<DayFormat> WeekFormats = new List<DayFormat>()
    {
        new DayFormat { Id = "MMM dd, yyyy", Format = "Jan 01, 2021" },
        new DayFormat { Id = "ddd MMM dd, yy", Format = "Mon Jan 01, 19" },
        new DayFormat { Id = "ddd MMM dd", Format = "Mon Jan 01" },
    };

    private List<DayFormat> DayFormats = new List<DayFormat>()
    {
        new DayFormat { Id = "", Format = "M" },
        new DayFormat { Id = "ddd", Format = "Mon" },
        new DayFormat { Id = "dd", Format = "01" },
    };

    private List<DayFormat> HourFormats = new List<DayFormat>()
    {
        new DayFormat { Id = "hh", Format = "00" },
        new DayFormat { Id = "hh : mm a", Format = "00 : 00 AM" },
        new DayFormat { Id = "h : mm a", Format = "0 : 00 AM" },
    };

    private List<TimelineUnit> TimelineUnits = new List<TimelineUnit>()
    {
        new TimelineUnit { Id = "Year", Unit = "Year" },
        new TimelineUnit { Id = "Month", Unit = "Month" },
        new TimelineUnit { Id = "Week", Unit = "Week" },
        new TimelineUnit { Id = "Day", Unit = "Day" },
        new TimelineUnit { Id = "Hour", Unit = "Hour" },
         new TimelineUnit { Id = "Minute", Unit = "Minute" },
    };

    private List<DayFormat> WeekFormatValue = new List<DayFormat>()
    {
        new DayFormat { Id = "MMM dd, yyyy", Format = "Jan 01, 2021" },
        new DayFormat { Id = "ddd MMM dd, yy", Format = "Mon Jan 01, 19" },
        new DayFormat { Id = "ddd MMM dd", Format = "Mon Jan 01" },
    };

    private List<DayFormat> DayFormatValue = new List<DayFormat>()
    {
        new DayFormat { Id = "", Format = "M" },
        new DayFormat { Id = "ddd", Format = "Mon" },
        new DayFormat { Id = "dd", Format = "01" }
    };

    public class TimelineUnit
    {
        public string Id { get; set; }
        public string Unit { get; set; }
    }

    public class DayFormat
    {
        public string Id { get; set; }
        public string Format { get; set; }
    }
    public void TopUnitChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, TimelineUnit> args)
    {
        TimelineViewMode changedTopUnit;
        switch (args.Value)
        {
            case "Year":
                changedTopUnit = TimelineViewMode.Year;
                WeekFormatValue = YearFormats;
                break;
            case "Month":
                changedTopUnit = TimelineViewMode.Month;
                WeekFormatValue = MonthFormats;
                break;
            case "Week":
                changedTopUnit = TimelineViewMode.Week;
                WeekFormatValue = WeekFormats;
                break;
            case "Day":
                changedTopUnit = TimelineViewMode.Day;
                WeekFormatValue = DayFormats;
                break;
            case "Hour":
                changedTopUnit = TimelineViewMode.Hour;
                WeekFormatValue = HourFormats;
                break;
            default:
                changedTopUnit = TimelineViewMode.Week;
                WeekFormatValue = WeekFormats;
                break;
        }

        this.UpdateUnitWidth(args.Value, "top");
        TopTierUnit = changedTopUnit;
    }

    public void BottomUnitChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, TimelineUnit> args)
    {
        TimelineViewMode changedBottomUnit;
        switch (args.Value)
        {
            case "Year":
                changedBottomUnit = TimelineViewMode.Year;
                DayFormatValue = YearFormats;
                break;
            case "Month":
                changedBottomUnit = TimelineViewMode.Month;
                DayFormatValue = MonthFormats;
                break;
            case "Week":
                changedBottomUnit = TimelineViewMode.Week;
                DayFormatValue = WeekFormats;
                break;
            case "Day":
                changedBottomUnit = TimelineViewMode.Day;
                DayFormatValue = DayFormats;
                break;
            case "Hour":
                changedBottomUnit = TimelineViewMode.Hour;
                DayFormatValue = HourFormats;
                break;
            default:
                changedBottomUnit = TimelineViewMode.Day;
                DayFormatValue = DayFormats;
                break;
        }

        this.UpdateUnitWidth(args.Value, "bottom");
        BottomTierUnit = changedBottomUnit;
    }


    void UpdateUnitWidth(string unit, string tier)
    {
        int unitWidth;
        string topUnit = tier == "top" ? unit : TopTierUnit.ToString();
        string bottomUnit = tier == "bottom" ? unit : BottomTierUnit.ToString();
        string[] units = new string[6] { "None", "Hour", "Day", "Week", "Month", "Year" };
        string bootomCellUnit;
        if (Array.IndexOf(units, topUnit) == 0 && Array.IndexOf(units, bottomUnit) == 0)
        {
            bootomCellUnit = "Day";
        }
        else if (Array.IndexOf(units, topUnit) == 0 && Array.IndexOf(units, bottomUnit) > 0)
        {
            bootomCellUnit = bottomUnit;
        }
        else if (Array.IndexOf(units, topUnit) > 0 && Array.IndexOf(units, bottomUnit) == 0)
        {
            bootomCellUnit = topUnit;
        }
        else if (Array.IndexOf(units, topUnit) <= Array.IndexOf(units, bottomUnit))
        {
            bootomCellUnit = topUnit;
        }
        else
        {
            bootomCellUnit = bottomUnit;
        }

        switch (bootomCellUnit)
        {
            case "Year":
                unitWidth = 2000;
                break;
            case "Month":
                unitWidth = 300;
                break;
            case "Week":
                unitWidth = 150;
                break;
            case "Day":
                unitWidth = 33;
                break;
            case "Hour":
                unitWidth = 25;
                break;
            default:
                unitWidth = 33;
                break;
        }

        DefaultUnitWidth = unitWidth;
    }
    private void SegmentHandler(SegmentEventArgs<SegmentModel> args)
    {
        segementAddCount = 0;
        segementUpdateCount = 0;
        segementDeleteCount = 0;
        if (isSegementCancel)
        {
            args.Cancel = true;
        }
        if (args.AddedSegments.Count > 0)
        {
            segementAddCount = args.AddedSegments.Count();
        }
        if (args.UpdatedSegments.Count > 0)
        {
            segementUpdateCount = args.UpdatedSegments.Count();
        }
        if (args.DeletedSegments.Count > 0)
        {
            segementDeleteCount = args.DeletedSegments.Count();
        }
    }
}