@page "/multipage-pdf-data-binding"
@rendermode InteractiveServer
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data
@using System.Dynamic
@using static SyncfusionBlazorApp.Components.Pages.FeatureCoverage.SplitTask.Split_Task_Method;
<SfDropDownList @bind-Value="selectedIdType" DataSource="@IdTypes" TValue="string" TItem="string" Placeholder="Select ID Type">
    <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
    <DropDownListEvents TValue="string" TItem="string" ValueChange="OnIdTypeChange"></DropDownListEvents>
</SfDropDownList>

@if (currentDataType == "int")
{
    <button @onclick="() => GanttInt.ExportToPdfAsync(null,true)">Pdf Export</button>
    <SfGantt @ref="GanttInt" TValue="TaskDataInt" DataSource="@TaskCollectionInt" Height="450px" Width="100%" AllowPdfExport="true" TreeColumnIndex="1" Toolbar="@(new List<Object>() { "Add", "Cancel", "Update", "Delete", "Edit", "CollapseAll", "ExpandAll", "ZoomIn", "ZoomOut", "ZoomToFit" })" EnableContextMenu="true" RowHeight="37" ProjectStartDate="ProjectStartDate" ProjectEndDate="ProjectEndDate" ScrollToTaskbarOnClick="true">
        <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" ParentID="ParentId" Dependency="Predecessor"></GanttTaskFields>
        <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
        <GanttLabelSettings LeftLabel="TaskName" TValue="TaskDataInt"></GanttLabelSettings>
        <GanttColumns>
            <GanttColumn Field="TaskId" Width="100" Visible="false"></GanttColumn>
            <GanttColumn Field="TaskName" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
            <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
            <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
            <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
            <GanttColumn Field="Progress" HeaderText="Progress"></GanttColumn>
            <GanttColumn Field="Predecessor" HeaderText="Dependency"></GanttColumn>
        </GanttColumns>
        <GanttSplitterSettings Position="50%"></GanttSplitterSettings>
    </SfGantt>
}
else if (currentDataType == "object")
{
    <button @onclick="() => GanttObject.ExportToPdfAsync(null, true)">Pdf Export</button>
    <SfGantt @ref="GanttObject" TValue="TaskDataObject" DataSource="@TaskCollectionObject" Height="450px" Width="100%" AllowPdfExport="true" TreeColumnIndex="1" Toolbar="@(new List<Object>() { "Add", "Cancel", "Update", "Delete", "Edit", "CollapseAll", "ExpandAll", "ZoomIn", "ZoomOut", "ZoomToFit" })" EnableContextMenu="true" RowHeight="37" ProjectStartDate="ProjectStartDate" ProjectEndDate="ProjectEndDate" ScrollToTaskbarOnClick="true">
        <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" ParentID="ParentId" Dependency="Predecessor"></GanttTaskFields>
        <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
        <GanttLabelSettings LeftLabel="TaskName" TValue="TaskDataObject"></GanttLabelSettings>
        <GanttColumns>
            <GanttColumn Field="TaskId" Width="100" Visible="false"></GanttColumn>
            <GanttColumn Field="TaskName" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
            <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
            <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
            <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
            <GanttColumn Field="Progress" HeaderText="Progress"></GanttColumn>
            <GanttColumn Field="Predecessor" HeaderText="Dependency"></GanttColumn>
        </GanttColumns>

        <GanttSplitterSettings Position="28%"></GanttSplitterSettings>
    </SfGantt>
}
else if (currentDataType == "string")
{
    <button @onclick="() => GanttString.ExportToPdfAsync(null,true)">Pdf Export</button>
    <SfGantt @ref="GanttString" TValue="TaskDataString" DataSource="@TaskCollectionString" Height="450px" Width="100%" AllowPdfExport="true" TreeColumnIndex="1" Toolbar="@(new List<Object>() { "Add", "Cancel", "Update", "Delete", "Edit", "CollapseAll", "ExpandAll", "ZoomIn", "ZoomOut", "ZoomToFit" })" EnableContextMenu="true" RowHeight="37" ProjectStartDate="ProjectStartDate" ProjectEndDate="ProjectEndDate" ScrollToTaskbarOnClick="true">
        <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" ParentID="ParentId" Dependency="Predecessor"></GanttTaskFields>
        <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
        <GanttLabelSettings LeftLabel="TaskName" TValue="TaskDataString"></GanttLabelSettings>
        <GanttColumns>
            <GanttColumn Field="TaskId" Width="100" Visible="false"></GanttColumn>
            <GanttColumn Field="TaskName" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
            <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
            <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
            <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
            <GanttColumn Field="Progress" HeaderText="Progress"></GanttColumn>
            <GanttColumn Field="Predecessor" HeaderText="Dependency"></GanttColumn>
        </GanttColumns>
        <GanttSplitterSettings Position="28%"></GanttSplitterSettings>
    </SfGantt>
}
else if (currentDataType == "guid")
{
    <button @onclick="() => GanttGuid.ExportToPdfAsync(null,true)">Pdf Export</button>
    <SfGantt @ref="GanttGuid" TValue="TaskDataGuid" DataSource="@TaskCollectionGuid" Height="450px" Width="100%" AllowPdfExport="true" TreeColumnIndex="1" Toolbar="@(new List<Object>() { "Add", "Cancel", "Update", "Delete", "Edit", "CollapseAll", "ExpandAll", "ZoomIn", "ZoomOut", "ZoomToFit" })" EnableContextMenu="true" RowHeight="37" ProjectStartDate="ProjectStartDate" ProjectEndDate="ProjectEndDate" ScrollToTaskbarOnClick="true">
        <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" ParentID="ParentId" ></GanttTaskFields>
        <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
        <GanttLabelSettings LeftLabel="TaskName" TValue="TaskDataGuid"></GanttLabelSettings>
        <GanttColumns>
            <GanttColumn Field="TaskId" Width="100" Visible="false"></GanttColumn>
            <GanttColumn Field="TaskName" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
            <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
            <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
            <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
            <GanttColumn Field="Progress" HeaderText="Progress"></GanttColumn>
        </GanttColumns>
        <GanttSplitterSettings Position="28%"></GanttSplitterSettings>
    </SfGantt>
}
else if (currentDataType == "expando")
{
    <button @onclick="() => GanttExpando.ExportToPdfAsync(null,true)">Pdf Export</button>
    <SfGantt TValue="ExpandoObject" DataSource="@TaskCollectionExpando" @ref="GanttExpando" Height="450px" Width="100%" AllowPdfExport="true" TreeColumnIndex="1" Toolbar="@(new List<Object>() { "Add", "Cancel", "Update", "Delete", "Edit", "CollapseAll", "ExpandAll", "ZoomIn", "ZoomOut", "ZoomToFit" })" EnableContextMenu="true">
        <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" ParentID="ParentId" Dependency="Predecessor">
        </GanttTaskFields>
        <GanttLabelSettings LeftLabel="TaskName" TValue="ExpandoObject"></GanttLabelSettings>
        <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
        <GanttSplitterSettings Position="28%"></GanttSplitterSettings>
    </SfGantt>

}
else if (currentDataType == "dynamic object")
{
    <button @onclick="() => GanttDynamic.ExportToPdfAsync(null,true)">Pdf Export</button>
    <SfGantt TValue="DynamicDictionary" DataSource="@TaskCollectionDynamic" @ref="GanttDynamic" Height="450px" Width="100%" AllowPdfExport="true" TreeColumnIndex="1" Toolbar="@(new List<Object>() { "Add", "Cancel", "Update", "Delete", "Edit", "CollapseAll", "ExpandAll", "ZoomIn", "ZoomOut", "ZoomToFit" })" EnableContextMenu="true">
        <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" ParentID="ParentId" Dependency="Predecessor">
        </GanttTaskFields>
        <GanttLabelSettings LeftLabel="TaskName" TValue="DynamicDictionary"></GanttLabelSettings>
        <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
        <GanttSplitterSettings Position="28%"></GanttSplitterSettings>
    </SfGantt>
}
else if (currentDataType == "custom adaptor")
{
    <button @onclick="() => GanttCustomAdaptor.ExportToPdfAsync(null,true)">Pdf Export</button>
    <SfGantt TValue="TaskDataInt" @ref="GanttCustomAdaptor" Height="450px" Width="100%" AllowPdfExport="true" TreeColumnIndex="1" Toolbar="@(new List<Object>() { "Add", "Cancel", "Update", "Delete", "Edit", "CollapseAll", "ExpandAll", "ZoomIn", "ZoomOut", "ZoomToFit" })" EnableContextMenu="true">
        <SfDataManager AdaptorInstance="@typeof(CustomAdaptor)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>
        <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" ParentID="ParentId" Dependency="Predecessor">
        </GanttTaskFields>
        <GanttLabelSettings LeftLabel="TaskName" TValue="TaskDataInt"></GanttLabelSettings>
        <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
        <GanttSplitterSettings Position="28%"></GanttSplitterSettings>
    </SfGantt>
}else if (currentDataType == "rtl")
{
    <button @onclick="() => GanttInt.ExportToPdfAsync(null,true)">Pdf Export</button>
    <SfGantt @ref="GanttInt" TValue="TaskDataInt" DataSource="@TaskCollectionInt" Height="450px" Width="100%" EnableRtl="true" AllowPdfExport="true" TreeColumnIndex="1" Toolbar="@(new List<Object>() { "Add", "Cancel", "Update", "Delete", "Edit", "CollapseAll", "ExpandAll", "ZoomIn", "ZoomOut", "ZoomToFit" })" EnableContextMenu="true" RowHeight="37" ProjectStartDate="ProjectStartDate" ProjectEndDate="ProjectEndDate" ScrollToTaskbarOnClick="true">
        <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" ParentID="ParentId" Dependency="Predecessor"></GanttTaskFields>
        <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
        <GanttLabelSettings LeftLabel="TaskName" TValue="TaskDataInt"></GanttLabelSettings>
        <GanttColumns>
            <GanttColumn Field="TaskId" Width="100" Visible="false"></GanttColumn>
            <GanttColumn Field="TaskName" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
            <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
            <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
            <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
            <GanttColumn Field="Progress" HeaderText="Progress"></GanttColumn>
            <GanttColumn Field="Predecessor" HeaderText="Dependency"></GanttColumn>
        </GanttColumns>
        <GanttSplitterSettings Position="28%"></GanttSplitterSettings>
    </SfGantt>
}
@code {

    public class DynamicDictionary : DynamicObject
    {
        Dictionary<string, object> dictionary = new Dictionary<string, object>();
        public override bool TryGetMember(GetMemberBinder binder, out object result)
        {
            string name = binder.Name;
            return dictionary.TryGetValue(name, out result);
        }

        public override bool TrySetMember(SetMemberBinder binder, object value)
        {
            dictionary[binder.Name] = value;
            return true;
        }

        public override System.Collections.Generic.IEnumerable<string> GetDynamicMemberNames()
        {
            return this.dictionary?.Keys;
        }
    }

    public class CustomAdaptor : DataAdaptor
    {
        public override Task<object> ReadAsync(DataManagerRequest dm, string? key = null)
        {
            IEnumerable<TaskDataInt>? DataSource = TaskCollectionInt;

            if (dm.Search?.Count > 0)
            {
                DataSource = DataOperations.PerformSearching(DataSource, dm.Search);
            }
            if (dm.Sorted?.Count > 0)
            {
                DataSource = DataOperations.PerformSorting(DataSource, dm.Sorted);
            }
            if (dm.Where?.Count > 0)
            {
                if (dm.Where[0].Field != null && dm.Where[0].Field != "ParentId")
                {
                    DataSource = DataOperations.PerformFiltering(DataSource, dm.Where, dm.Where[0].Operator);
                }
            }

            int count = DataSource?.Count() ?? 0;

            if (dm.Skip != 0)
            {
                DataSource = DataOperations.PerformSkip(DataSource, dm.Skip);
            }
            if (dm.Take != 0)
            {
                DataSource = DataOperations.PerformTake(DataSource, dm.Take);
            }

            object result = dm.RequiresCounts ? new DataResult { Result = DataSource, Count = count } : (object)DataSource;
            return Task.FromResult(result);
        }
    }

    private SfGantt<TaskDataInt> GanttInt;
    private SfGantt<TaskDataString> GanttString;
    private SfGantt<TaskDataObject> GanttObject;
    private SfGantt<TaskDataGuid> GanttGuid;
    private SfGantt<ExpandoObject> GanttExpando;
    private SfGantt<DynamicDictionary> GanttDynamic;
    private SfGantt<TaskDataInt> GanttCustomAdaptor;
    private static List<TaskDataInt> TaskCollectionInt { get; set; }
    private List<SegmentModelInt> SegmentCollectionInt { get; set; }
    private List<TaskDataObject> TaskCollectionObject { get; set; }
    private List<SegmentModelObject> SegmentCollectionObject { get; set; }
    private List<TaskDataString> TaskCollectionString { get; set; }
    private List<SegmentModelString> SegmentCollectionString { get; set; }
    private List<TaskDataGuid> TaskCollectionGuid { get; set; }
    private List<SegmentModelGuid> SegmentCollectionGuid { get; set; }
    private List<ExpandoObject> TaskCollectionExpando { get; set; }
    private List<DynamicDictionary> TaskCollectionDynamic { get; set; }
    private string selectedIdType = "int";
    private string currentDataType = string.Empty;
    private List<string> IdTypes = new List<string> { "int", "object", "string", "guid", "expando", "dynamic object", "custom adaptor", "rtl" };

    private DateTime ProjectStartDate = new DateTime(2022, 03, 28);
    private DateTime ProjectEndDate = new DateTime(2022, 07, 28);
    protected override void OnInitialized()
    {
        UpdateCollectionsBasedOnIdType(selectedIdType);
        currentDataType = selectedIdType;
    }
    private void OnIdTypeChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, string> args)
    {
        selectedIdType = args.Value;
        UpdateCollectionsBasedOnIdType(selectedIdType);
    }
    private async void UpdateCollectionsBasedOnIdType(string idType)
    {
        switch (idType)
        {
            case "int":
                TaskCollectionInt = GetTaskCollectionInt();
                currentDataType = idType;
                break;
            case "object":
                TaskCollectionObject = GetTaskCollectionObject();
                currentDataType = idType;
                break;
            case "string":
                TaskCollectionString = GetTaskCollectionString();
                currentDataType = idType;
                break;
            case "guid":
                TaskCollectionGuid = GetTaskCollectionGuid();
                currentDataType = idType;
                break;
            case "expando":
                TaskCollectionExpando = GetTaskCollectionExpando();
                currentDataType = idType;
                break;
            case "dynamic object":
                TaskCollectionDynamic = GetTaskCollectionDynamic();
                currentDataType = idType;
                break;
            case "custom adaptor":
                TaskCollectionInt = GetTaskCollectionInt();
                currentDataType = idType;
                break;
            case "rtl":
                TaskCollectionInt = GetTaskCollectionInt();
                currentDataType = idType;
                break;
            default:
                break;
        }
    }
    private List<TaskDataInt> GetTaskCollectionInt()
    {
        return new List<TaskDataInt>
            {
                new TaskDataInt() { TaskId = 1, TaskName = "Project initiation", StartDate = new DateTime(2022, 03, 28), EndDate = new DateTime(2022, 07, 28), Duration="4" },
                new TaskDataInt() { TaskId = 2, TaskName = "Identify site location", StartDate = new DateTime(2022, 03, 29), Progress = 30, ParentId = 1, Duration="8", },
                new TaskDataInt() { TaskId = 3, TaskName = "Site analyze", StartDate = new DateTime(2022, 03, 29),  Progress = 50, ParentId = 1, Duration="8"},
                new TaskDataInt() { TaskId = 4, TaskName = "Perform soil test", StartDate = new DateTime(2022, 03, 29), ParentId = 1, Duration="5", Predecessor="2FS", Progress=40, },
                new TaskDataInt() { TaskId = 5, TaskName = "Soil test approval", StartDate = new DateTime(2022, 03, 29), Duration="4", Progress = 30 },
                new TaskDataInt() { TaskId = 6, TaskName = "Project estimation", StartDate = new DateTime(2022, 04, 08), Duration="8", Progress=40, ParentId=1 },
                new TaskDataInt() { TaskId = 7, TaskName = "Develop floor plan for estimation", StartDate = new DateTime(2022, 03, 29), Duration = "0", Progress = 30, ParentId = 5, Predecessor= "4FS" },
                new TaskDataInt() { TaskId = 8, TaskName = "List materials", StartDate = new DateTime(2022, 04, 01), Duration = "6", Progress = 30, ParentId = 5 },
                new TaskDataInt() { TaskId = 9, TaskName = "Estimation approval",Progress=30, StartDate = new DateTime(2022, 04, 01), Duration = "4", ParentId = 5, Predecessor="8FS" },
                new TaskDataInt() { TaskId = 10, TaskName = "Building approval", StartDate = new DateTime(2022, 04, 12), Duration = "5", ParentId = 5 },
                new TaskDataInt() { TaskId = 11, TaskName = "Construction initiation", StartDate = new DateTime(2022, 04, 01), Duration = "5", Progress=40 },
                new TaskDataInt() { TaskId = 12, TaskName = "Ground floor initiation", StartDate = new DateTime(2022, 04, 05), Duration = "5", ParentId = 11, Progress=40},
                new TaskDataInt() { TaskId = 13, TaskName = "First floor initiation", StartDate = new DateTime(2022, 04, 05), Duration = "7",ParentId = 11, Progress=40},
                new TaskDataInt() { TaskId = 14, TaskName = "Electric work initiation", StartDate = new DateTime(2022, 04, 01), Duration = "5", ParentId = 11, Progress=40, },
                new TaskDataInt() { TaskId = 15, TaskName = "Plumbing work", StartDate = new DateTime(2022, 04, 02), Duration = "5", ParentId = 11, Progress=40 },
            };
    }
    private List<TaskDataObject> GetTaskCollectionObject()
    {
        var collection = new List<TaskDataObject>
            {
                new TaskDataObject() { TaskId = 1, TaskName = "Project initiation", StartDate = new DateTime(2022, 03, 28), EndDate = new DateTime(2022, 07, 28), Duration="4" },
                new TaskDataObject() { TaskId = 2, TaskName = "Identify site location", StartDate = new DateTime(2022, 03, 29), Progress = 30, ParentId = 1, Duration="8", },
                new TaskDataObject() { TaskId = 3, TaskName = "Site analyze", StartDate = new DateTime(2022, 03, 29),  Progress = 50, ParentId = 1, Duration="8"},
                new TaskDataObject() { TaskId = 4, TaskName = "Perform soil test", StartDate = new DateTime(2022, 03, 29), ParentId = 1, Duration="5", Predecessor="2FS", Progress=40, },
                new TaskDataObject() { TaskId = 5, TaskName = "Soil test approval", StartDate = new DateTime(2022, 03, 29), Duration="4", Progress = 30 },
                new TaskDataObject() { TaskId = 6, TaskName = "Project estimation", StartDate = new DateTime(2022, 04, 08), Duration="8", Progress=40, ParentId=1 },
                new TaskDataObject() { TaskId = 7, TaskName = "Develop floor plan for estimation", StartDate = new DateTime(2022, 03, 29), Duration = "0", Progress = 30, ParentId = 5, Predecessor= "4FS" },
                new TaskDataObject() { TaskId = 8, TaskName = "List materials", StartDate = new DateTime(2022, 04, 01), Duration = "6", Progress = 30, ParentId = 5 },
                new TaskDataObject() { TaskId = 9, TaskName = "Estimation approval",Progress=30, StartDate = new DateTime(2022, 04, 01), Duration = "4", ParentId = 5, Predecessor="8FS" },
                new TaskDataObject() { TaskId = 10, TaskName = "Building approval", StartDate = new DateTime(2022, 04, 12), Duration = "5", ParentId = 5 },
                new TaskDataObject() { TaskId = 11, TaskName = "Construction initiation", StartDate = new DateTime(2022, 04, 01), Duration = "5", Progress=40 },
                new TaskDataObject() { TaskId = 12, TaskName = "Ground floor initiation", StartDate = new DateTime(2022, 04, 05), Duration = "5", ParentId = 11, Progress=40},
                new TaskDataObject() { TaskId = 13, TaskName = "First floor initiation", StartDate = new DateTime(2022, 04, 05), Duration = "7",ParentId = 11, Progress=40},
                new TaskDataObject() { TaskId = 14, TaskName = "Electric work initiation", StartDate = new DateTime(2022, 04, 01), Duration = "5", ParentId = 11, Progress=40, },
                new TaskDataObject() { TaskId = 15, TaskName = "Plumbing work", StartDate = new DateTime(2022, 04, 02), Duration = "5", ParentId = 11, Progress=40 },
            };

        return collection;
    }
    private List<TaskDataString> GetTaskCollectionString()
    {
        var collection = new List<TaskDataString>
            {
                new TaskDataString() { TaskId = "1", TaskName = "Project initiation", StartDate = new DateTime(2022, 03, 28), EndDate = new DateTime(2022, 07, 28), Duration="4" },
                new TaskDataString() { TaskId = "2", TaskName = "Identify site location", StartDate = new DateTime(2022, 03, 29), Progress = 30, ParentId = "1", Duration="8", },
                new TaskDataString() { TaskId = "3", TaskName = "Site analyze", StartDate = new DateTime(2022, 03, 29),  Progress = 50, ParentId = "1", Duration="8"},
                new TaskDataString() { TaskId = "4", TaskName = "Perform soil test", StartDate = new DateTime(2022, 03, 29), ParentId = "1", Duration="5", Predecessor="2FS", Progress=40, },
                new TaskDataString() { TaskId = "5", TaskName = "Soil test approval", StartDate = new DateTime(2022, 03, 29), Duration="4", Progress = 30 },
                new TaskDataString() { TaskId = "6", TaskName = "Project estimation", StartDate = new DateTime(2022, 04, 08), Duration="8", Progress=40, ParentId="1" },
                new TaskDataString() { TaskId = "7", TaskName = "Develop floor plan for estimation", StartDate = new DateTime(2022, 03, 29), Duration = "0", Progress = 30, ParentId = "5", Predecessor= "4FS" },
                new TaskDataString() { TaskId = "8", TaskName = "List materials", StartDate = new DateTime(2022, 04, 01), Duration = "6", Progress = 30, ParentId = "5" },
                new TaskDataString() { TaskId = "9", TaskName = "Estimation approval",Progress=30, StartDate = new DateTime(2022, 04, 01), Duration = "4", ParentId = "5", Predecessor="8FS" },
                new TaskDataString() { TaskId = "10", TaskName = "Building approval", StartDate = new DateTime(2022, 04, 12), Duration = "5", ParentId = "5" },
                new TaskDataString() { TaskId = "11", TaskName = "Construction initiation", StartDate = new DateTime(2022, 04, 01), Duration = "5", Progress=40 },
                new TaskDataString() { TaskId = "12", TaskName = "Ground floor initiation", StartDate = new DateTime(2022, 04, 05), Duration = "5", ParentId = "11", Progress=40},
                new TaskDataString() { TaskId = "13", TaskName = "First floor initiation", StartDate = new DateTime(2022, 04, 05), Duration = "7",ParentId = "11", Progress=40},
                new TaskDataString() { TaskId = "14", TaskName = "Electric work initiation", StartDate = new DateTime(2022, 04, 01), Duration = "5", ParentId = "11", Progress=40, },
                new TaskDataString() { TaskId = "15", TaskName = "Plumbing work", StartDate = new DateTime(2022, 04, 02), Duration = "5", ParentId = "11", Progress=40 },
            };

        return collection;
    }
    private List<Guid> predefinedGuids = new List<Guid>
        {
            Guid.Parse("00000000-0000-0000-0000-000000000001"),
            Guid.Parse("00000000-0000-0000-0000-000000000002"),
            Guid.Parse("00000000-0000-0000-0000-000000000003"),
            Guid.Parse("00000000-0000-0000-0000-000000000004"),
            Guid.Parse("00000000-0000-0000-0000-000000000005"),
            Guid.Parse("00000000-0000-0000-0000-000000000006"),
            Guid.Parse("00000000-0000-0000-0000-000000000007"),
            Guid.Parse("00000000-0000-0000-0000-000000000008"),
            Guid.Parse("00000000-0000-0000-0000-000000000009"),
            Guid.Parse("00000000-0000-0000-0000-000000000010"),
            Guid.Parse("00000000-0000-0000-0000-000000000011"),
            Guid.Parse("00000000-0000-0000-0000-000000000012"),
            Guid.Parse("00000000-0000-0000-0000-000000000013"),
            Guid.Parse("00000000-0000-0000-0000-000000000014"),
            Guid.Parse("00000000-0000-0000-0000-000000000015"),
        };

    private List<TaskDataGuid> GetTaskCollectionGuid()
    {
        List<TaskDataGuid> tasks = new List<TaskDataGuid>
            {
                new TaskDataGuid() { TaskId = predefinedGuids[0], TaskName = "Project initiation", StartDate = new DateTime(2022, 03, 28), EndDate = new DateTime(2022, 07, 28), Duration="4" },
                new TaskDataGuid() { TaskId = predefinedGuids[1], TaskName = "Identify site location", StartDate = new DateTime(2022, 03, 29), Progress = 30, ParentId = predefinedGuids[0], Duration="8" },
                new TaskDataGuid() { TaskId = predefinedGuids[2], TaskName = "Site analyze", StartDate = new DateTime(2022, 03, 29), Progress = 50, ParentId = predefinedGuids[0], Duration="8" },
                new TaskDataGuid() { TaskId = predefinedGuids[3], TaskName = "Perform soil test", StartDate = new DateTime(2022, 03, 29), ParentId = predefinedGuids[0], Duration="5", Predecessor=predefinedGuids[1].ToString()+"FS", Progress=40 },
                new TaskDataGuid() { TaskId = predefinedGuids[4], TaskName = "Soil test approval", StartDate = new DateTime(2022, 03, 29), Duration="4", Progress = 30 },
                new TaskDataGuid() { TaskId = predefinedGuids[5], TaskName = "Project estimation", StartDate = new DateTime(2022, 04, 08), Duration="8", Progress=40, ParentId=predefinedGuids[0] },
                new TaskDataGuid() { TaskId = predefinedGuids[6], TaskName = "Develop floor plan for estimation", StartDate = new DateTime(2022, 03, 29), Duration = "0", Progress = 30, ParentId = predefinedGuids[4], Predecessor= predefinedGuids[3].ToString()+"FS" },
                new TaskDataGuid() { TaskId = predefinedGuids[7], TaskName = "List materials", StartDate = new DateTime(2022, 04, 01), Duration = "6", Progress = 30, ParentId = predefinedGuids[4] },
                new TaskDataGuid() { TaskId = predefinedGuids[8], TaskName = "Estimation approval", Progress=30, StartDate = new DateTime(2022, 04, 01), Duration = "4", ParentId = predefinedGuids[4], Predecessor=predefinedGuids[7].ToString()+"FS" },
                new TaskDataGuid() { TaskId = predefinedGuids[9], TaskName = "Building approval", StartDate = new DateTime(2022, 04, 12), Duration = "5", ParentId = predefinedGuids[4] },
                new TaskDataGuid() { TaskId = predefinedGuids[10], TaskName = "Construction initiation", StartDate = new DateTime(2022, 04, 01), Duration = "5", Progress=40 },
                new TaskDataGuid() { TaskId = predefinedGuids[11], TaskName = "Ground floor initiation", StartDate = new DateTime(2022, 04, 05), Duration = "5", ParentId = predefinedGuids[10], Progress=40 },
                new TaskDataGuid() { TaskId = predefinedGuids[12], TaskName = "First floor initiation", StartDate = new DateTime(2022, 04, 05), Duration = "7", ParentId = predefinedGuids[10], Progress=40 },
                new TaskDataGuid() { TaskId = predefinedGuids[13], TaskName = "Electric work initiation", StartDate = new DateTime(2022, 04, 01), Duration = "5", ParentId = predefinedGuids[10], Progress=40 },
                new TaskDataGuid() { TaskId = predefinedGuids[14], TaskName = "Plumbing work", StartDate = new DateTime(2022, 04, 02), Duration = "5", ParentId = predefinedGuids[10], Progress=40 },
            };
        return tasks;
    }
    private static List<ExpandoObject> expandoTasks = new List<ExpandoObject>();
    private static List<DynamicDictionary> dynamicTasks = new List<DynamicDictionary>();
    private static int ParentRecordID { get; set; }
    private static int ChildRecordID { get; set; }
    private List<ExpandoObject> GetTaskCollectionExpando()
    {
        expandoTasks.Clear();
        ParentRecordID = 0;
        ChildRecordID = 0;
        for (var i = 1; i <= 3; i++)
        {
            DateTime start = new DateTime(2022, 03, 07);
            int range = (DateTime.Today - start).Days;
            DateTime startingDate = start.AddDays(4);
            dynamic ParentRecord = new ExpandoObject();
            ParentRecord.TaskId = ++ParentRecordID;
            ParentRecord.TaskName = "Parent Task " + i;
            ParentRecord.StartDate = startingDate;
            ParentRecord.Progress = 10;
            ParentRecord.Duration = ParentRecordID % 2 == 0 ? (32).ToString() : (76).ToString();
            ParentRecord.ParentId = null;
            expandoTasks.Add(ParentRecord);
            AddExpandoChildRecords(ParentRecordID);
        }

        return expandoTasks;
    }
    public static void AddExpandoChildRecords(int ParentId)
    {
        for (var i = 1; i < 5; i++)
        {
            DateTime start = new DateTime(2022, 03, 07);
            int range = (DateTime.Today - start).Days;
            DateTime startingDate = start.AddDays(4);
            dynamic ChildRecord = new ExpandoObject();
            ChildRecord.TaskId = ++ParentRecordID;
            ChildRecord.TaskName = "Child Task " + ++ChildRecordID;
            ChildRecord.StartDate = startingDate;
            ChildRecord.Progress = 80;
            ChildRecord.Duration = ParentRecordID % 3 == 0 ? (4).ToString() : (8).ToString();
            ChildRecord.ParentId = ParentId;
            ChildRecord.Predecessor = i == 1 ? "" : (ParentRecordID - 1).ToString() + "FS";
            expandoTasks.Add(ChildRecord);
        }
    }
    private List<DynamicDictionary> GetTaskCollectionDynamic()
    {
        dynamicTasks.Clear();
        ParentRecordID = 0;
        ChildRecordID = 0;
        for (var i = 1; i <= 3; i++)
        {
            DateTime start = new DateTime(2022, 03, 07);
            int range = (DateTime.Today - start).Days;
            DateTime startingDate = start.AddDays(4);
            dynamic ParentRecord = new DynamicDictionary();
            ParentRecord.TaskId = ++ParentRecordID;
            ParentRecord.TaskName = "Parent Task " + i;
            ParentRecord.StartDate = startingDate;
            ParentRecord.Progress = 10;
            ParentRecord.Duration = ParentRecordID % 2 == 0 ? (32).ToString() : (76).ToString();
            ParentRecord.ParentId = null;
            dynamicTasks.Add(ParentRecord);
            AddDynamicChildRecords(ParentRecordID);
        }

        return dynamicTasks;
    }
    public static void AddDynamicChildRecords(int ParentId)
    {
        for (var i = 1; i < 5; i++)
        {
            DateTime start = new DateTime(2022, 03, 07);
            int range = (DateTime.Today - start).Days;
            DateTime startingDate = start.AddDays(4);
            dynamic ChildRecord = new DynamicDictionary();
            ChildRecord.TaskId = ++ParentRecordID;
            ChildRecord.TaskName = "Child Task " + ++ChildRecordID;
            ChildRecord.StartDate = startingDate;
            ChildRecord.Progress = 80;
            ChildRecord.Duration = ParentRecordID % 3 == 0 ? (4).ToString() : (8).ToString();
            ChildRecord.ParentId = ParentId;
            ChildRecord.Predecessor = i == 1 ? "" : (ParentRecordID - 1).ToString() + "FS";
            dynamicTasks.Add(ChildRecord);
        }
    }

    public class TaskDataInt
    {
        public int TaskId { get; set; }
        public string TaskName { get; set; }
        public DateTime? StartDate { get; set; }
        public DateTime? EndDate { get; set; }
        public string Duration { get; set; }
        public int Progress { get; set; }
        public int? ParentId { get; set; }
        public string Predecessor { get; set; }
    }

    public class TaskDataObject
    {
        public object TaskId { get; set; }
        public string TaskName { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
        public object ParentId { get; set; }
        public string Duration { get; set; }
        public int Progress { get; set; }
        public string Predecessor { get; set; }
    }

    public class TaskDataString
    {
        public string TaskId { get; set; }
        public string TaskName { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
        public string ParentId { get; set; }
        public string Duration { get; set; }
        public int Progress { get; set; }
        public string Predecessor { get; set; }
    }

    public class TaskDataGuid
    {
        public Guid TaskId { get; set; }
        public string TaskName { get; set; }
        public DateTime? StartDate { get; set; }
        public DateTime? EndDate { get; set; }
        public string Duration { get; set; }
        public int Progress { get; set; }
        public Guid? ParentId { get; set; }
        public string Predecessor { get; set; }
    }
}

