@page "/BLAZ-900660"
@rendermode InteractiveServer
@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns;

<Syncfusion.Blazor.Buttons.SfButton OnClick="Refreshmethod">Refresh</Syncfusion.Blazor.Buttons.SfButton>
<SfButton @onclick="Filter">Filter Column</SfButton>
<SfButton @onclick="CancelEditFunc">Cancel Edit</SfButton>
<SfButton @onclick="ToggleTrue">ToggleTrue Row</SfButton>
<SfButton @onclick="ToggleFalse">ToggleFalse Row</SfButton>
<SfButton @onclick="SortByColumn">Sort Multi Ascend</SfButton>
<br><br>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
             <div class="col-lg-9">
            <SfGantt @ref="Gantt" ID="Gantt" DataSource="@TaskCollection" ShowColumnChooser="true" AllowFiltering="true" AllowResizing="true" AllowReordering="true" AllowMultiSorting="true" AllowRowDragAndDrop="true" AllowSelection="true" AllowSorting="true" EnableContextMenu="true" Height="550px" Width="100%" HighlightWeekends="true"
                     Toolbar="@(new List<string>(){ "Add", "Edit", "Update", "Delete", "Cancel", "ExpandAll", "CollapseAll","Indent","Outdent", "ZoomIn", "ZoomOut", "ZoomToFit"})"
                       TreeColumnIndex="1"
                     ProjectStartDate="@ProjectStart" ProjectEndDate="@ProjectEnd">
                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
                                 Dependency="Predecessor" ParentID="ParentId"></GanttTaskFields>
                <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true" ShowDeleteConfirmDialog="true"></GanttEditSettings>
                <GanttSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GanttSelectionSettings>
                <GanttColumns>
                    <GanttColumn Field="TaskId" Width="100"></GanttColumn>
                    <GanttColumn Field="TaskName" HeaderText="Job Name" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
                    <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
                    <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
                    <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
                    <GanttColumn Field="Progress" HeaderText="Progress"></GanttColumn>
                    <GanttColumn Field="Predecessor" HeaderText="Dependency"></GanttColumn>
                    <GanttColumn Field="Status" HeaderText="Status"  EditType="Syncfusion.Blazor.Grids.EditType.DropDownEdit">
                       <EditTemplate>
                        @{
                        var task = (context as GanttData.TaskData);
                        if(task != null)
                        {
                        
                        }
                        }
                    <SfDropDownList ID="Status" @bind-Value="@task.Status" TItem="string" TValue="string" DataSource="@DropDownData1"></SfDropDownList>
                    </EditTemplate>
                </GanttColumn>
                </GanttColumns>
                <GanttLabelSettings LeftLabel="TaskName" TValue="GanttData.TaskData">
                </GanttLabelSettings>
                <GanttSplitterSettings Position="40%"> </GanttSplitterSettings>
                <GanttEvents RowSelected="rowSelect" OnActionComplete="OnActionComplete" RowDropped="RowDropped" TValue="GanttData.TaskData"></GanttEvents>
            </SfGantt>
            </div>

              <div class="col-lg-3">
                  <div class="e-switch-control" style="width: 750px;">
                <label class="showhide" style="padding: 10px 15px 10px 10px"> Methods: </label>
                  <SfDropDownList Width="25%" @ref="@DropdownMode" TValue="string" TItem="DropDownData" DataSource="@Methods" @bind-Value="@Mode" AllowFiltering="true" Placeholder=" ">
                    <DropDownListEvents TValue="string" ValueChange="MethodChange" TItem="DropDownData"></DropDownListEvents>
                    <DropDownListFieldSettings Text="Mode" Value="ID"></DropDownListFieldSettings>
                </SfDropDownList>
            </div>
        </div>
    </div>
</div>
    
</div>
<style>
    html, body {
        height: 100%;
    }
</style>
@code {
    private Boolean Check = false;
    public static List<GanttData.TaskData> LocalData = new List<GanttData.TaskData> {
                new GanttData.TaskData() { Status= "Open" },
                new GanttData.TaskData() { Status= "In Progress" },
                new GanttData.TaskData() { Status= "Validated" },
                new GanttData.TaskData() { Status= "Completed" },
    };
    public IEditorSettings editorParams = new DropDownEditCellParams
        {
            Params = new DropDownListModel<object, object>() { DataSource = LocalData }
        };
    public List<string> DropDownData1 = new List<string>() { "Open", "In Progress", "Validated", "Completed" };
    private SfDropDownList<string, DropDownData> DropdownMode { get; set; }
    public GanttData.TaskData addInt = new GanttData.TaskData() { TaskId = 9, TaskName = "New Added Record", StartDate = new DateTime(2021, 04, 05), Duration = "3", Progress = 50};
    private List<DropDownData> Methods { get; set; } = new List<DropDownData>();
    private string Mode { get; set; }
    private DateTime ProjectStart = new DateTime(2021, 3, 25);
    private DateTime ProjectEnd = new DateTime(2021, 7, 28);
    public class DropDownData
    {
        public string ID { get; set; }
        public string Mode { get; set; }
    }
    private List<GanttData.TaskData> TaskCollection { get; set; }
    SfGantt<GanttData.TaskData> Gantt;
    protected override void OnInitialized()
    {
        this.TaskCollection = GanttData.EditingData().ToList();
        this.Methods.Add(new DropDownData() { ID = "AddInt", Mode = "AddInt" });
        this.Methods.Add(new DropDownData() { ID = "AddPredecessor", Mode = "AddPredecessor" });
        this.Methods.Add(new DropDownData() { ID = "CollapseLevel", Mode = "CollapseLevel" });
        this.Methods.Add(new DropDownData() { ID = "CollapseAll", Mode = "CollapseAll" });
        this.Methods.Add(new DropDownData() { ID = "CollapseKey", Mode = "CollapseKey" });
        this.Methods.Add(new DropDownData() { ID = "ConvertToMilestone", Mode = "ConvertToMilestone" });
        this.Methods.Add(new DropDownData() { ID = "DeleteInt", Mode = "DeleteInt" });
        this.Methods.Add(new DropDownData() { ID = "ExpandAll", Mode = "ExpandAll" });
        this.Methods.Add(new DropDownData() { ID = "ExpandLevel", Mode = "ExpandLevel" });
        this.Methods.Add(new DropDownData() { ID = "HideSpinner", Mode = "HideSpinner" });
        this.Methods.Add(new DropDownData() { ID = "ShowSpinner", Mode = "ShowSpinner" });
        this.Methods.Add(new DropDownData() { ID = "NextTimeSpan", Mode = "NextTimeSpan" });
        this.Methods.Add(new DropDownData() { ID = "OpenAddDialog", Mode = "OpenAddDialog" });
        this.Methods.Add(new DropDownData() { ID = "OpenColumnChooser", Mode = "OpenColumnChooser" });
        this.Methods.Add(new DropDownData() { ID = "OpenEditDialog", Mode = "OpenEditDialog" });
        this.Methods.Add(new DropDownData() { ID = "PreviousTimeSpan", Mode = "PreviousTimeSpan" });
        this.Methods.Add(new DropDownData() { ID = "RemovePredecessor", Mode = "RemovePredecessor" });
        this.Methods.Add(new DropDownData() { ID = "ReOrderColumn", Mode = "ReOrderColumn" });
        this.Methods.Add(new DropDownData() { ID = "ReorderRow", Mode = "ReorderRow" });
        this.Methods.Add(new DropDownData() { ID = "ScrollToTaskbar", Mode = "ScrollToTaskbar" });
        this.Methods.Add(new DropDownData() { ID = "ScrollToTimeline", Mode = "ScrollToTimeline" });
        this.Methods.Add(new DropDownData() { ID = "SelectCell", Mode = "SelectCell" });
        this.Methods.Add(new DropDownData() { ID = "SelectRowByRange", Mode = "SelectRowByRange" });
        this.Methods.Add(new DropDownData() { ID = "SetSplitter", Mode = "SetSplitter" });
        this.Methods.Add(new DropDownData() { ID = "SingleSort", Mode = "SingleSort" });
        this.Methods.Add(new DropDownData() { ID = "MultiSort", Mode = "MultiSort" });
        this.Methods.Add(new DropDownData() { ID = "UpdatePredecessor", Mode = "UpdatePredecessor" });
        this.Methods.Add(new DropDownData() { ID = "UpdateProjectDates", Mode = "UpdateProjectDates" });
        this.Methods.Add(new DropDownData() { ID = "FilterByColumn", Mode = "FilterByColumn"});
        this.Methods.Add(new DropDownData() { ID = "FilterByColumnID", Mode = "FilterByColumnID"});
        this.Methods.Add(new DropDownData() { ID ="ResetZoomAsync", Mode = "ResetZoomAsync"});
    }
    public void MethodChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, DropDownData> args)
    {
        if (args.Value == "AddInt")
        {
            this.Gantt.AddRecordAsync(addInt, 2, RowPosition.Below);
        }
        if (args.Value == "AddPredecessor")
        {
            this.Gantt.AddPredecessor(3,"4FS");
        }
        if (args.Value == "CollapseLevel")
        {
            this.Gantt.CollapseAtLevelAsync(0); 
        }
        if (args.Value == "CollapseAll")
        {
            this.Gantt.CollapseAllAsync(); 
        }
        if (args.Value == "CollapseKey")
        {
            this.Gantt.CollapseByKeyAsync(6); 
        }
        if (args.Value == "ConvertToMilestone")
        {
            this.Gantt.ConvertToMilestone("4");
        }
        if (args.Value == "DeleteInt")
        {
            this.Gantt.DeleteRecordAsync(7); 
        }
        if (args.Value == "ExpandAll")
        {
            this.Gantt.ExpandAllAsync(); 
        }
        if (args.Value == "ExpandLevel")
        {
            this.Gantt.ExpandAtLevelAsync(1); 
        }
        if (args.Value == "HideSpinner")
        {
            this.Gantt.HideSpinnerAsync();
        }
        if (args.Value == "ShowSpinner")
        {
            this.Gantt.ShowSpinnerAsync();
        }
        if (args.Value == "NextTimeSpan")
        {
            this.Gantt.NextTimeSpan();
        }
        if (args.Value == "OpenAddDialog")
        {
            this.Gantt.OpenAddDialogAsync();
        }
        if (args.Value == "OpenColumnChooser")
        {
            this.Gantt.OpenColumnChooser(2,4);
        }
        if (args.Value == "OpenEditDialog")
        {
            this.Gantt.OpenEditDialogAsync(2);
        }
        if (args.Value == "PreviousTimeSpan")
        {
            this.Gantt.PreviousTimeSpan();
        }
        if (args.Value == "RemovePredecessor")
        {
            this.Gantt.RemovePredecessor(5);
        }
        if (args.Value == "ReOrderColumn")
        {
            this.Gantt.ReorderColumnsAsync(new List<string> {"TaskId","TaskName"},"Duration");
        }
        if (args.Value == "ReorderRow")
        {
            this.Gantt.ReorderRowAsync(1,4,"above");
        }
        if (args.Value == "ScrollToTaskbar")
        {
            this.Gantt.ScrollToTaskbarAsync(13);
        }
        if (args.Value == "ScrollToTimeline")
        {
            this.Gantt.ScrollToTimelineAsync(new DateTime(2021, 4, 21));
        }
        if (args.Value == "SelectCell")
        {
            this.Gantt.SelectCellAsync((2,3), true);
        }
        if (args.Value == "SelectRowByRange")
        {
            this.Gantt.SelectRowsByRangeAsync(2,6);
        }
        if (args.Value == "SetSplitter")
        {
            this.Gantt.SetSplitterPositionAsync(2);
        }
        if (args.Value == "MultiSort")
        {
            this.Gantt.SortByColumnAsync("TaskId", SortDirection.Ascending,true);
        }
        if (args.Value == "SingleSort")
        {
            this.Gantt.SortByColumnAsync("StartDate", SortDirection.Descending,false);
        }
        if (args.Value == "UpdatePredecessor")
        {
            this.Gantt.UpdatePredecessor(7,"4FS");
        }
        if (args.Value == "UpdateProjectDates")
        {
            this.Gantt.UpdateProjectDates(new DateTime(2021, 03, 29), new DateTime(2021, 04, 07));
        }
        if (args.Value == "FilterByColumn")
        {
            this.Gantt.FilterByColumnAsync("TaskName", "contains", "Defining", "and", true, true);
        }
        if (args.Value == "FilterByColumnID")
        {
            this.Gantt.FilterByColumnAsync("TaskId", "equal", "3", "or", true, false);
        }
        if (args.Value == "ResetZoomAsync")
        {
            this.Gantt.ResetZoomAsync();
        }

    }
    public void RowDropped(RowDroppedEventArgs<GanttData.TaskData> args)
    {
        // Here, you can customize your code.
        var datasource = Gantt.DataSource;
    }

    public void Refreshmethod()
    {
        Gantt.RefreshAsync();
    }
    public void Filter()
    {
        this.Gantt.FilterByColumnAsync("TaskId","lessthan","5");

        var data = Gantt.GetFilteredRecordsAsync().Result; 
    }
    public void CancelEditFunc()
    {
         Gantt.CancelEdit(); 
     }
    private async Task ToggleTrue()
    {
      await Gantt.SelectRowAsync(2,true);
    }
    private async Task ToggleFalse()
    {
      await Gantt.SelectRowAsync(2,false);
    }
    private async Task SortByColumn()
    {
      await Gantt.SortByColumnAsync("TaskId", SortDirection.Ascending,true);
     }
    public void OnActionComplete(GanttActionEventArgs<GanttData.TaskData> args)
    {
        var data = Gantt.DataSource;
    }
    
    public void rowSelect(RowSelectEventArgs<GanttData.TaskData> args)
    {
        //Here, you can customize your code.
        var data = Gantt.DataSource;
    }

    public class GanttData
    {
        public class TaskData
        {
            public int TaskId { get; set; }
            public string TaskName { get; set; }
            public DateTime? StartDate { get; set; }
            public DateTime? EndDate { get; set; }
            public string Duration { get; set; }
            public int Progress { get; set; }
            public string Predecessor { get; set; }
            public string Notes { get; set; }
            public string Status { get; set; }
            public int? ParentId { get; set; }
        }
        public static List<TaskData> EditingData()
        {
            List<TaskData> Tasks = new List<TaskData>() {
        new TaskData() {
            TaskId = 1,
            TaskName = "Product concept",
            StartDate = new DateTime(2021, 04, 02),
            EndDate = new DateTime(2021, 04, 08),
            Duration = "5 days"
        },
        new TaskData() {
            TaskId = 2,
            TaskName = "Defining the product usage",
            StartDate = new DateTime(2021, 04, 02),
            EndDate = new DateTime(2021, 04, 08),
            Duration = "3",
            Progress = 30,
            ParentId = 1
        },
        new TaskData() {
            TaskId = 3,
            TaskName = "Defining the target audience",
            StartDate = new DateTime(2021, 04, 02),
            EndDate = new DateTime(2021, 04, 04),
            Duration = "3",
            Progress = 40,
            ParentId = 1
        },
        new TaskData() {
            TaskId = 4,
            TaskName = "Prepare product sketch and notes",
            StartDate = new DateTime(2021, 04, 05),
            EndDate = new DateTime(2021, 04, 08),
            Duration = "2",
            Progress = 30,
            ParentId = 1,
            Predecessor="2"
        },
        new TaskData() {
            TaskId = 5,
            TaskName = "Concept approval",
            StartDate = new DateTime(2021, 04, 08),
            EndDate = new DateTime(2021, 04, 08),
            Duration="0",
            Predecessor="3,4"
        },
        new TaskData() {
            TaskId = 6,
            TaskName = "Market research",
            StartDate = new DateTime(2021, 04, 09),
            EndDate = new DateTime(2021, 04, 18),
            Predecessor="2",
            Duration = "4",
            Progress = 30
        },
        new TaskData() {
            TaskId = 7,
            TaskName = "Demand analysis",
            StartDate = new DateTime(2021, 04, 09),
            EndDate = new DateTime(2021, 04, 12),
            Duration = "4",
            Progress = 40,
            ParentId = 6
        },
        new TaskData() {
            TaskId = 8,
            TaskName = "Customer strength",
            StartDate = new DateTime(2021, 04, 09),
            EndDate = new DateTime(2021, 04, 12),
            Duration = "4",
            Progress = 30,
            ParentId = 7,
            Predecessor="5"
        }, new TaskData() {
            TaskId = 9,
            TaskName = "Market opportunity analysis",
            StartDate = new DateTime(2021, 04, 09),
            EndDate = new DateTime(2021, 04, 012),
            Duration="4",
            ParentId= 7,
            Predecessor="5"
        },
        new TaskData() {
            TaskId = 10,
            TaskName = "Competitor analysis",
            StartDate = new DateTime(2021, 04, 15),
            EndDate = new DateTime(2021, 04, 18),
            Duration = "4",
            Progress = 30,
            ParentId= 6,
            Predecessor="7,8"
        },
        new TaskData() {
            TaskId = 11,
            TaskName = "Product strength analysis",
            StartDate = new DateTime(2021, 04, 15),
            EndDate = new DateTime(2021, 04, 18),
            Duration = "4",
            Progress = 40,
            ParentId = 6,
            Predecessor="9"
        },
        new TaskData() {
            TaskId = 12,
            TaskName = "Research completed",
            StartDate = new DateTime(2021, 04, 18),
            EndDate = new DateTime(2021, 04, 18),
            Duration = "0",
            Progress = 30,
            ParentId = 6,
            Predecessor="10"
        },
         new TaskData() {
            TaskId = 13,
            TaskName = "Product design and development",
            StartDate = new DateTime(2021, 04, 19),
            EndDate = new DateTime(2021, 05, 16),
            Duration="20",
            Predecessor="6"
         },
        new TaskData() {
            TaskId = 14,
            TaskName = "Functionality design",
            StartDate = new DateTime(2021, 04, 19),
            EndDate = new DateTime(2021, 04, 23),
            Duration = "3",
            Progress = 30,
            ParentId = 13,
            Predecessor="12"
        },
        new TaskData() {
            TaskId = 15,
            TaskName = "Quality design",
            StartDate = new DateTime(2021, 04, 19),
            EndDate = new DateTime(2021, 04, 23),
            Duration = "3",
            Progress = 40,
            ParentId = 13,
            Predecessor="12"
        },
        new TaskData() {
            TaskId = 16,
            TaskName = "Define reliability",
            StartDate = new DateTime(2021, 04, 24),
            EndDate = new DateTime(2021, 04, 25),
            Duration = "2",
            Progress = 30,
            ParentId = 13,
            Predecessor="15"
        },
         new TaskData() {
            TaskId = 17,
            TaskName = "Identifying raw materials",
            StartDate = new DateTime(2021, 04, 24),
            EndDate = new DateTime(2021, 04, 25),
            Duration="2",
            ParentId=13,
            Predecessor="15"
        },
        new TaskData() {
            TaskId = 18,
            TaskName = "Define cost plan",
            StartDate = new DateTime(2021, 04, 26),
            EndDate = new DateTime(2021, 04, 29),
            Duration = "2",
            Progress = 30,
            ParentId=13,
            Predecessor="17"
        },
        new TaskData() {
            TaskId = 19,
            TaskName = "Manufacturing cost",
            StartDate = new DateTime(2021, 04, 26),
            EndDate = new DateTime(2021, 04, 29),
            Duration = "2",
            Progress = 40,
            ParentId = 18,
            Predecessor="17"
        },
        new TaskData() {
            TaskId = 20,
            TaskName = "Selling cost",
            StartDate = new DateTime(2021, 04, 26),
            EndDate = new DateTime(2021, 04, 29),
            Duration = "2",
            Progress = 30,
            ParentId = 18,
            Predecessor="17"
        },
         new TaskData() {
            TaskId = 21,
            TaskName = "Development of final design",
            StartDate = new DateTime(2021, 04, 30),
            EndDate = new DateTime(2021, 05, 08),
            Duration="7",
            ParentId=13
        },
        new TaskData() {
            TaskId = 22,
            TaskName = "Develop dimensions and design",
            StartDate = new DateTime(2021, 04, 30),
            EndDate = new DateTime(2021, 05, 01),
            Duration = "2",
            Progress = 30,
            ParentId=21,
            Predecessor="19,20"
        },
        new TaskData() {
            TaskId = 23,
            TaskName = "Develop designs to meet industry",
            StartDate = new DateTime(2021, 05, 02),
            EndDate = new DateTime(2021, 05, 03),
            Duration = "2",
            Progress = 40,
            ParentId = 21,
            Predecessor="22"
        },
        new TaskData() {
            TaskId = 24,
            TaskName = "Include all the details",
            StartDate = new DateTime(2021, 05, 06),
            EndDate = new DateTime(2021, 05, 08),
            Duration = "3",
            Progress = 30,
            ParentId = 21,
            Predecessor="23"
        },
         new TaskData() {
            TaskId = 25,
            TaskName = "CAD - Computer Aided Design",
            StartDate = new DateTime(2021, 05, 09),
            EndDate = new DateTime(2021, 05, 13),
            Duration="3",
            Predecessor="24"
        },
        new TaskData() {
            TaskId = 26,
            TaskName = "CAM - Computer Aided Manufacturing",
            StartDate = new DateTime(2021, 05, 14),
            EndDate = new DateTime(2021, 05, 16),
            Duration = "3",
            Progress = 30,
            Predecessor="25"
        },
        new TaskData() {
            TaskId = 27,
            TaskName = "Finalize the design",
            StartDate = new DateTime(2021, 04, 16),
            EndDate = new DateTime(2021, 04, 16),
            Duration = "0",
            Progress = 40,
            Predecessor="26"
        },
        new TaskData() {
            TaskId = 28,
            TaskName = "Prototype testing",
            StartDate = new DateTime(2021, 05, 17),
            EndDate = new DateTime(2021, 05, 22),
            Duration = "4",
            Progress = 30,
            Predecessor="27"
        },
        new TaskData() {
            TaskId = 29,
            TaskName = "Include feedback",
            StartDate = new DateTime(2021, 05, 17),
            EndDate = new DateTime(2021, 05, 22),
            Duration="4",
            Predecessor="28ss"
        },
        new TaskData() {
            TaskId = 30,
            TaskName = "Manufacturing",
            StartDate = new DateTime(2021, 05, 23),
            EndDate = new DateTime(2021, 05, 29),
            Duration = "5",
            Progress = 30,
            Predecessor="28,29"
        },
        new TaskData() {
            TaskId = 31,
            TaskName = "Assembling material to finished goods",
            StartDate = new DateTime(2021, 05, 30),
            EndDate = new DateTime(2021, 06, 05),
            Duration = "5",
            Progress = 40,
            Predecessor="30"
        },
        new TaskData() {
            TaskId = 32,
            TaskName = "Final product development",
            StartDate = new DateTime(2021, 06, 06),
            EndDate = new DateTime(2021, 06, 13),
            Duration = "6",
            Progress = 30
        }, new TaskData() {
            TaskId =33,
            TaskName = "Important improvement",
            StartDate = new DateTime(2021, 06, 06),
            EndDate = new DateTime(2021, 06, 10),
            Duration="3",
            ParentId=32,
            Predecessor="31"
        },
        new TaskData() {
            TaskId = 34,
            TaskName = "Customer testing and feedback",
            StartDate = new DateTime(2021, 06, 11),
            EndDate = new DateTime(2021, 06, 13),
            Duration = "3",
            Progress = 30,
            ParentId=32,
            Predecessor="33"
        },
        new TaskData() {
            TaskId = 35,
            TaskName = "Final product development",
            StartDate = new DateTime(2021, 06, 14),
            EndDate = new DateTime(2021, 06, 19),
            Duration = "4",
            Progress = 40
        },
        new TaskData() {
            TaskId = 36,
            TaskName = "Important improvement",
            StartDate = new DateTime(2021, 06, 14),
            EndDate = new DateTime(2021, 06, 19),
            Duration = "4",
            Progress = 30,
            ParentId = 35,
            Predecessor="34"
        },
         new TaskData() {
            TaskId = 37,
            TaskName = "Address any unforeseen issue",
            StartDate = new DateTime(2021, 06, 14),
            EndDate = new DateTime(2021, 06, 19),
            Duration = "4",
            Progress = 30,
            Predecessor="36ss",
            ParentId=35
        },
        new TaskData() {
            TaskId = 38,
            TaskName = "Final product",
            StartDate = new DateTime(2021, 06, 20),
            EndDate = new DateTime(2021, 07, 01),
            Duration = "8",
            Progress = 40
        },
        new TaskData() {
            TaskId = 39,
            TaskName = "Branding product",
            StartDate = new DateTime(2021, 06, 20),
            EndDate = new DateTime(2021, 06, 25),
            Duration = "4",
            Progress = 30,
            ParentId = 38,
            Predecessor="37"
        },
        new TaskData()
        {
            TaskId=40,
            TaskName="Marketing and Presales",
            StartDate=new DateTime(2021,06,26),
            EndDate=new DateTime(2021,07,01),
            ParentId=38,
            Duration="4",
            Predecessor="39"
        }
    };
            return Tasks;
        }
    }
}

