@page "/BLAZ-940360"
@rendermode InteractiveServer
@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Buttons
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div class="e-switch-control">
                <label class="showhide">Allow Taskbar Drag And Drop</label>
                <SfSwitch @bind-Checked="@IsTaskbarDragAndDropEnabled" TChecked="bool"></SfSwitch>
            </div>
            <SfGantt @ref="Gantt" ShowOverallocation="true" TreeColumnIndex="1" RowHeight="38" EnableRowHover="true" RenderBaseline="true"
                     DataSource="@Tasks" Height="450px" Width="100%"
                     ViewType="ViewType.ResourceView" CollapseAllParentTasks="true"
                     Toolbar="@(new List<object>() { "Add", "Cancel", "Update", "Delete", "Edit", "CollapseAll", "ExpandAll" })"
                     AllowResizing="true">
                <GanttTaskFields Id="Id" Name="Name" StartDate="StartDate" EndDate="EndDate"
                                 Duration="Duration" Progress="Progress" ParentID="ParentId"
                                 Work="Work" Dependency="Predecessor" BaselineStartDate="BaselineStartDate" BaselineEndDate="BaselineEndDate">
                </GanttTaskFields>
                <GanttResource DataSource="@Resources" Id="Id" Name="Name" MaxUnits="MaxUnit"
                               Group="Group" TValue="MultiTaskbarData.TaskInfoModel"
                               TResources="MultiTaskbarData.ResourceInfoModel">
                </GanttResource>
                <GanttAssignmentFields DataSource="@Assignments" PrimaryKey="Id"
                                       TaskID="TaskId" ResourceID="ResourceId"
                                       Units="Unit" TValue="MultiTaskbarData.TaskInfoModel"
                                       TAssignment="MultiTaskbarData.AssignmentModel">
                </GanttAssignmentFields>
                <GanttLabelSettings TaskLabel="Name" TValue="MultiTaskbarData.TaskInfoModel"></GanttLabelSettings>
                <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
                <GanttTaskbarSettings EnableMultiTaskbar="true" AllowTaskbarDragAndDrop="@IsTaskbarDragAndDropEnabled"></GanttTaskbarSettings>
                <GanttColumns>
                    <GanttColumn Field="Id" Visible="false"></GanttColumn>
                    <GanttColumn Field="Name" HeaderText="Name" Width="250"></GanttColumn>
                    <GanttColumn Field="Work" HeaderText="Work (Hours)"></GanttColumn>
                    <GanttColumn Field="Progress"></GanttColumn>
                    <GanttColumn Field="BaselineStartDate" HeaderText="Baseline Start Date" Width="200"></GanttColumn>
                    <GanttColumn Field="BaselineEndDate" HeaderText="Baseline End Date" Width="200"></GanttColumn>
                    <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
                    <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
                </GanttColumns>
                <GanttSplitterSettings Position="30%"></GanttSplitterSettings>
                <GanttTemplates TValue="MultiTaskbarData.TaskInfoModel">
                    <TaskbarTemplate>
                        @{
                            var task = context as MultiTaskbarData.TaskInfoModel;
                        }
                        <div class="e-gantt-child-taskbar-inner-div e-gantt-child-taskbar" style="width:100%; height:100%;">
                            <div class="e-gantt-child-progressbar-inner-div e-gantt-child-progressbar" style="height:100%;">
                                <span class="e-task-label" style="width:100%; height:100%;">@task?.Name</span>
                            </div>
                        </div>
                    </TaskbarTemplate>
                    <!-- <MilestoneTemplate>
                        <div style="margin-top:-7px;">
                            <div class="e-gantt-milestone" style="position:absolute;" tabindex="-1">
                                <img class="moments" height="24" width="48" role="presentation" />
                                <div class="e-milestone-top" style="border-right-width:26px; margin-top: -24px;border-left-width:26px;border-bottom-width:26px;"></div>
                                <div class="e-milestone-bottom" style="top:26px;border-right-width:26px; border-left-width:26px; border-top-width:26px;"></div>
                            </div>
                        </div>
                    </MilestoneTemplate> -->
                </GanttTemplates>
            </SfGantt>
        </div>
    </div>
</div>

<style>
    .showhide {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 1px;
        padding: 10px;
    }

    .e-switch-control {
        display: flex;
        align-items: center;
    }
</style>

@code {
    public SfGantt<MultiTaskbarData.TaskInfoModel> Gantt { get; set; }
    private DateTime ProjectStart { get; } = new DateTime(2022, 3, 25);
    private DateTime ProjectEnd { get; } = new DateTime(2022, 5, 10);
    private List<MultiTaskbarData.TaskInfoModel> Tasks { get; set; }
    private List<MultiTaskbarData.ResourceInfoModel> Resources { get; set; }
    private bool IsTaskbarDragAndDropEnabled { get; set; } = true;
    private static List<MultiTaskbarData.AssignmentModel> Assignments { get; set; }

    protected override void OnInitialized()
    {
        Tasks = MultiTaskbarData.GetTaskCollection();
        Resources = MultiTaskbarData.GetResources;
        Assignments = MultiTaskbarData.GetAssignmentCollection();
    }
    public class MultiTaskbarData
    {
        public class ResourceInfoModel
        {
            public int Id { get; set; }
            public string Name { get; set; }
            public double MaxUnit { get; set; }
            public string? Group { get; set; }
        }
        public class AssignmentModel
        {
            public int Id { get; set; }
            public int TaskId { get; set; }
            public int ResourceId { get; set; }
            public double? Unit { get; set; }
        }
        public static List<ResourceInfoModel> GetResources = new List<ResourceInfoModel>()
        {
            new ResourceInfoModel() { Id= 1, Name= "Martin Tamer", Group="Planning Team", },
            new ResourceInfoModel() { Id= 2, Name= "Rose Fuller", Group="Testing Team" },
            new ResourceInfoModel() { Id= 3, Name= "Margaret Buchanan", Group="Approval Team", },
            new ResourceInfoModel() { Id= 4, Name= "Fuller King", Group="Development Team",  },
            new ResourceInfoModel() { Id= 5, Name= "Davolio Fuller", Group="Approval Team", },
            new ResourceInfoModel() { Id= 6, Name= "Fuller Buchanan", Group="Development Team" },
            new ResourceInfoModel() { Id= 7, Name= "Jack Davolio", Group="Planning Team" },
            new ResourceInfoModel() { Id= 8, Name= "Tamer Vinet", Group="Testing Team" },
            new ResourceInfoModel() { Id= 9, Name= "Vinet Fuller", Group="Development Team" },
            new ResourceInfoModel() { Id= 10, Name= "Bergs Anton", Group="Testing Team" },
        };
        public class TaskInfoModel
        {
            public int Id { get; set; }
            public string Name { get; set; }
            public DateTime StartDate { get; set; }
            public DateTime EndDate { get; set; }
            public string Duration { get; set; }
            public int Progress { get; set; }
            public int? ParentId { get; set; }
            public string Predecessor { get; set; }
            public string Notes { get; set; }
            public double? Work { get; set; }
            public string TaskType { get; set; }
            public DateTime? BaselineStartDate { get; set; }
            public DateTime? BaselineEndDate { get; set; }
        }
        public static List<TaskInfoModel> GetTaskCollection()
        {
            List<TaskInfoModel> Tasks = new List<TaskInfoModel>()
            {
                new TaskInfoModel() { Id = 1, Name = "Project initiation", StartDate = new DateTime(2019, 03, 29), EndDate = new DateTime(2019, 04, 21), TaskType = "FixedDuration", Work = 128, Duration = "4",BaselineStartDate= new DateTime(2019, 04, 02), BaselineEndDate= new DateTime(2019, 04, 04) },
                new TaskInfoModel() { Id = 2, Name = "Identify Site location", StartDate = new DateTime(2019, 03, 29), Progress = 30, ParentId = 1, Duration = "3" ,BaselineStartDate= new DateTime(2019, 04, 02), BaselineEndDate= new DateTime(2019, 04, 05)},
                new TaskInfoModel() { Id = 3, Name = "Perform soil test", StartDate = new DateTime(2019, 04, 03), Progress = 50, ParentId = 1, Duration = "5", Work = 16, Predecessor = "2" },
                new TaskInfoModel() { Id = 4, Name = "Soil test approval", StartDate = new DateTime(2019, 04, 09), ParentId = 1, Work = 96, Duration = "3", TaskType = "FixedWork", Predecessor = "3", Progress = 40 },
                new TaskInfoModel() { Id = 5, Name = "Project estimation", StartDate = new DateTime(2019, 03, 29), EndDate = new DateTime(2019, 04, 21), Progress = 30, Work = 16, TaskType = "FixedWork" },
                new TaskInfoModel() { Id = 6, Name = "Develop floor plan for estimation", StartDate = new DateTime(2019, 04, 01), TaskType = "FixedDuration", Duration = "5", Progress = 40, Work = 50 },
                new TaskInfoModel() { Id = 7, Name = "List materials", StartDate = new DateTime(2019, 04, 04), Duration = "4", Progress = 30, ParentId = 5, Work = 30, TaskType = "FixedDuration", Predecessor = "6FS-2" },
                new TaskInfoModel() { Id = 8, Name = "Estimation approval", StartDate = new DateTime(2019, 04, 09), Duration = "4", Progress = 30, ParentId = 5, TaskType = "FixedWork", Work = 48, Predecessor = "7FS-1" },
                new TaskInfoModel() { Id = 9, Name = "Site work", Progress = 30, StartDate = new DateTime(2019, 04, 04), EndDate = new DateTime(2019, 04, 21), Work = 60, TaskType = "FixedUnit" },
                new TaskInfoModel() { Id = 10, Name = "Install temporary power service", StartDate = new DateTime(2019, 04, 01), Duration = "14", ParentId = 9, Work = 60, Progress = 50, TaskType = "FixedWork" },
                new TaskInfoModel() { Id = 11, Name = "Clear the building site", StartDate = new DateTime(2019, 04, 08), Duration = "9", ParentId = 9, Work = 60, Progress = 40, TaskType = "FixedDuration", Predecessor = "10FS-9" },
                new TaskInfoModel() { Id = 12, Name = "Sign contract", StartDate = new DateTime(2019, 04, 12), Duration = "5", ParentId = 9, Work = 60, Progress = 40, TaskType = "FixedDuration", Predecessor = "11FS-5" },
                new TaskInfoModel() { Id = 13, Name = "Foundation", StartDate = new DateTime(2022, 04, 04), EndDate = new DateTime(2019, 04, 28), Work = 60, Progress = 40, TaskType = "FixedDuration" },
                new TaskInfoModel() { Id = 14, Name = "Excavate for foundations", StartDate = new DateTime(2019, 04, 01), Duration = "2", ParentId = 13, Work = 60, Progress = 40, TaskType = "FixedDuration" },
                new TaskInfoModel() { Id = 15, Name = "Dig footer", StartDate = new DateTime(2019, 04, 04), Duration = "2", ParentId = 13, Work = 60, Progress = 40, TaskType = "FixedDuration", Predecessor = "14FS+1" },
                new TaskInfoModel() { Id = 16, Name = "Install plumbing grounds", StartDate = new DateTime(2019, 04, 08), Duration = "2", ParentId = 13, Work = 60, Progress = 40, TaskType = "FixedDuration", Predecessor = "15FS" },
                new TaskInfoModel() { Id = 17, Name = "Framing", StartDate = new DateTime(2019, 04, 04), EndDate = new DateTime(2019, 04, 28), Work = 60, Progress = 40, TaskType = "FixedDuration" },
                new TaskInfoModel() { Id = 18, Name = "Add load-bearing structure", StartDate = new DateTime(2019, 04, 03), Duration = "2", ParentId = 17, Work = 60, Progress = 20, TaskType = "FixedDuration" },
                new TaskInfoModel() { Id = 19, Name = "Natural gas utilities", StartDate = new DateTime(2019, 04, 08), Duration = "5", ParentId = 17, Work = 60, Progress = 40, TaskType = "FixedDuration", Predecessor = "18" },
                new TaskInfoModel() { Id = 20, Name = "Electrical utilities", StartDate = new DateTime(2022, 04, 01), Duration = "4", ParentId = 17, Work = 60, Progress = 50, TaskType = "FixedWork", Predecessor = "19FS+1" },
                new TaskInfoModel() { Id = 21, Name = "Plumbing test", StartDate = new DateTime(2019, 04, 04), Duration = "4", Work = 60, Progress = 50, TaskType = "FixedWork" },
                new TaskInfoModel() { Id = 22, Name = "Electrical test", StartDate = new DateTime(2019, 04, 04), Duration = "4", Work = 60, Progress = 50, TaskType = "FixedWork", Predecessor = "21" },
                new TaskInfoModel() { Id = 23, Name = "First floor initiation", StartDate = new DateTime(2019, 04, 06), Duration = "4", Work = 60, Progress = 50, TaskType = "FixedWork" },
                new TaskInfoModel() { Id = 24, Name = "Interior work", StartDate = new DateTime(2019, 04, 04), Duration = "4", Work = 60, Progress = 50, TaskType = "FixedWork", Predecessor = "23" },
                new TaskInfoModel() { Id = 25, Name = "First floor tile work initiation", StartDate = new DateTime(2019, 04, 10), Duration = "4", Work = 60, Progress = 50, TaskType = "FixedWork" },
                new TaskInfoModel() { Id = 26, Name = "Tile test", StartDate = new DateTime(2019, 04, 04), Duration = "4", Work = 60, Progress = 50, TaskType = "FixedWork" },
                new TaskInfoModel() { Id = 27, Name = "Second floor initiation", StartDate = new DateTime(2019, 04, 10), Duration = "4", Work = 60, Progress = 50, TaskType = "FixedWork" },
                new TaskInfoModel() { Id = 28, Name = "Second floor tile work initiation", StartDate = new DateTime(2019, 04, 06), Duration = "4", Work = 60, Progress = 50, TaskType = "FixedWork", Predecessor = "27FS-1" },
                new TaskInfoModel() { Id = 29, Name = "Exterior work initiation", StartDate = new DateTime(2019, 04, 12), Duration = "4", Work = 60, Progress = 50, TaskType = "FixedWork" },
                new TaskInfoModel() { Id = 30, Name = "Building test", StartDate = new DateTime(2019, 04, 08), Duration = "4", Work = 60, Progress = 50, TaskType = "FixedWork" }
            };
            return Tasks;
        }
        public static List<AssignmentModel> GetAssignmentCollection()
        {
            List<AssignmentModel> assignments = new List<AssignmentModel>()
            {
                new AssignmentModel(){ Id=1, TaskId = 2 , ResourceId=1, Unit=70},
                new AssignmentModel(){ Id=2, TaskId = 3 , ResourceId=1, Unit=70},
                new AssignmentModel(){ Id=3, TaskId = 4 , ResourceId=1},
                new AssignmentModel(){ Id=4, TaskId = 6 , ResourceId=2},
                new AssignmentModel(){ Id=6, TaskId = 8 , ResourceId=2},
                new AssignmentModel(){ Id=7, TaskId = 10 , ResourceId=3},
                new AssignmentModel(){ Id=8, TaskId = 11, ResourceId=3},
                new AssignmentModel(){ Id=9, TaskId = 12 , ResourceId=3},
                new AssignmentModel(){ Id=10, TaskId = 14 , ResourceId=4},
                new AssignmentModel(){ Id=11, TaskId = 15 , ResourceId=4},
                new AssignmentModel(){ Id=12, TaskId = 16 , ResourceId=4},
                new AssignmentModel(){ Id=13, TaskId = 18 , ResourceId=5},
                new AssignmentModel(){ Id=14, TaskId = 19 , ResourceId=5},
                new AssignmentModel(){ Id=15, TaskId = 20 , ResourceId=5},
                new AssignmentModel(){ Id=16, TaskId = 21 , ResourceId=6},
                new AssignmentModel(){ Id=17, TaskId = 22 , ResourceId=6},
                new AssignmentModel(){ Id=18, TaskId = 23 , ResourceId=7},
                new AssignmentModel(){ Id=19, TaskId = 24 , ResourceId=7},
                new AssignmentModel(){ Id=20, TaskId = 25 , ResourceId=8},
                new AssignmentModel(){ Id=21, TaskId = 26 , ResourceId=8},
                new AssignmentModel(){ Id=22, TaskId = 27 , ResourceId=9},
                new AssignmentModel(){ Id=23, TaskId = 28 , ResourceId=9},
                new AssignmentModel(){ Id=24, TaskId = 29 , ResourceId=10},
            };
            return assignments;
        }
    }
}